@using Microsoft.EntityFrameworkCore
@using IIMSv1.Data
@using IIMSv1.Models
@using IIMSv1.Models.ViewModel
@using IIMSv1.Models.Shared
@using Microsoft.AspNetCore.Identity
@model StocksViewModel
@{
    ViewBag.title = "Stocks Management";
    ViewBag.breadcrumbs = "<div class=\"breadcrumb-item active\">"
                        + ViewBag.title
                        + "</div>";

    List<Items> items = Model.WithStockItems;
}
<div class="row">
    <div class="col-lg-12">
        <div class="card border-left border-right border-bottom">
            <div class="card-body">
                <div class="row mb-0">
                    <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6 col-xl-3 pt-xs-1 pt-sm-1 pt-t-md-1">
                        <div class="form-icon right">
                            <input type="text" class="form-control form-control-icon w-100" placeholder="Search" id="txtsearch" name="search" value="@Model.SearchText" style="height: 30px; font-size: 12px;" />
                            <i class="ri-lg ri-search-line"></i>
                        </div>
                    </div>
                    <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6 col-xl-5 pt-xs-1 pt-sm-1 pt-t-md-1">
                        <button class="btn btn-label btn-secondary btn-sm waves-effect waves-light" data-bs-toggle="modal" data-bs-target="#modal-filter">
                            <i class="ri-lg ri-filter-line label-icon align-middle fs-16 me-2"></i>
                            Filter
                        </button>
                        <button class="btn btn-label btn-secondary btn-sm waves-effect waves-light" data-bs-toggle="modal" data-bs-target="#modal-new-item">
                            <i class="ri-lg ri-add-fill label-icon align-middle fs-16 me-2"></i>
                            Add Item
                        </button>
                    </div>
                    @await Html.PartialAsync("~/Views/Shared/_Entries.cshtml")
                </div>
                <div class="row mt-2">
                    <div class="col-lg-12">
                        @if (Model.status != "")
                        {
                            <div class="badge bg-primary-subtle text-primary badge-border w-auto" style="padding: .30rem .7rem; font-size: 12px;">
                                Filter by Status: <b>"@Model.status"</b>
                            </div>
                        }
                        @if (Model.SearchText != "")
                        {
                            <div class="badge bg-primary-subtle text-primary badge-border w-auto" style="padding: .30rem .7rem; font-size: 12px;">
                                Showing results for <b>"@Model.SearchText"</b>
                            </div>
                        }
                        @if (Model.SupplyText != "")
                        {
                            <div class="badge bg-primary-subtle text-primary badge-border w-auto" style="padding: .30rem .7rem; font-size: 12px;">
                                Filter Supply: <b>"@Model.SupplyText"</b>
                            </div>
                        }
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-12">
                        <div class="table-responsive">
                            <table class="table table-bordered table-striped" id="stocksTbl" style="font-size: 12px;">
                                <thead class="table-light">
                                    <tr>
                                        <th scope="col" class="text-center align-content-center">STATUS</th>
                                        <th scope="col" class="align-content-center">ITEM</th>
                                        <th scope="col" class="text-center align-content-center">SUPPLY</th>
                                        <th scope="col" class="text-center align-content-center">QUANTITY</th>
                                        <th scope="col" class="text-center align-content-center">UNIT</th>
                                        <th scope="col" class="text-center align-content-center">ACTION</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @if (items.Count > 0)
                                    {
                                        @foreach (var item in items)
                                        {

                                            <tr>
                                                <td class="text-center align-content-center" style="white-space: nowrap;">
                                                    @if (item.itemQuantity > 0)
                                                    {
                                                        <span class="badge badge-label bg-success"><i class="mdi mdi-circle-medium"></i> In Stock</span>
                                                    }
                                                    else
                                                    {
                                                        <span class="badge badge-label bg-warning"><i class="mdi mdi-circle-medium"></i> Out of Stock</span>
                                                    }
                                                </td>
                                                <td scope="row" class="align-content-center @(item.itemQuantity == 0 ? "text-muted" : "")" style="white-space: nowrap;">@item.ItemName</td>
                                                <td class="text-center align-content-center @(item.itemQuantity == 0 ? "text-muted" : "")" style="white-space: nowrap;">@item.itemType.supplies.supplyName</td>
                                                <td class="text-center align-content-center @(item.itemQuantity == 0 ? "text-muted" : "")">@item.itemQuantity</td>
                                                <td class="text-center align-content-center @(item.itemQuantity == 0 ? "text-muted" : "")">
                                                    <span>@item.itemUnit.UnitName</span>
                                                </td>
                                                <td class="text-center align-content-center" style="white-space: nowrap;">
                                                    <div class="dropdown dropend">
                                                        <a href="javascript:;" class="btn btn-label btn-sm btn-secondary waves-effect waves-light" role="button" id="dropdownActionItem" data-bs-toggle="dropdown" aria-expanded="false">
                                                            <i class="ri-more-fill label-icon align-middle fs-16 me-2"></i>
                                                            More
                                                        </a>
                                                        <ul class="dropdown-menu dropdown-menu-dark" aria-labelledby="dropdownActionItem">
                                                            <li>
                                                                <a href="javascript:;" class="dropdown-item waves-effect waves-light viewItemStocks"
                                                                   data-itemId="@item.Id"
                                                                   data-Quantity="@item.itemQuantity"
                                                                   data-ItemName="@item.ItemName">
                                                                    <i class="ri-lg ri-add-fill"></i> Add Stocks
                                                                </a>
                                                            </li>
                                                            <li>
                                                                <a href="javascript:;" class="dropdown-item waves-effect waves-light editItemStocks"
                                                                   data-itemId="@item.Id"
                                                                   data-Quantity="@item.itemQuantity"
                                                                   data-ItemName="@item.ItemName">
                                                                    <i class="ri-lg ri-edit-2-fill"></i> Edit Stocks
                                                                </a>
                                                            </li>
                                                        </ul>
                                                    </div>

                                                    
                                                </td>
                                            </tr>
                                        }
                                    }

                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-12">
                        @if(items.Count() > 0)
                        {
                            @await Html.PartialAsync("~/Views/Shared/_Pagination.cshtml", Model.PaginationModel)
                        }
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
@section modals {
    @await Html.PartialAsync("~/Views/Stocks/Modal/_AddItem.cshtml", Model.StockInputModel)
    @await Html.PartialAsync("~/Views/Stocks/Modal/_EditQuantity.cshtml", Model.StockEditModel)
    @await Html.PartialAsync("~/Views/Stocks/Modal/_AddQuantity.cshtml", Model.StockEditModel)
    @await Html.PartialAsync("~/Views/Stocks/Modal/_Filter.cshtml")
}
@section scripts {
    @await Html.PartialAsync("~/Views/Stocks/Shared/_scripts.cshtml")
}
