@using Microsoft.EntityFrameworkCore
@using IIMSv1.Data
@using IIMSv1.Models
@using IIMSv1.Models.ViewModel
@using IIMSv1.Models.Shared
@using Microsoft.AspNetCore.Identity
@model ReleasedViewModel
@{
    ViewBag.title = "Released";
    ViewBag.breadcrumbs = "<div class=\"breadcrumb-item active\">"
                        + ViewBag.title
                        + "</div>";
    List<_ItemReleasedModel> items = Model.items;
    List<Released> relItems = Model.releasedItems;
    List<string> Months = Model.Months;
}
<div class="row">
    <div class="col-lg-12">
        <div class="card border-bottom border-right border-left">
            <div class="card-body">
                <div class="row">
                    <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6 col-xl-3 pt-xs-1 pt-sm-1 pt-t-md-1">
                        <div class="input-group">
                            <input type="text" class="form-control" placeholder="Search" id="txtsearch" name="search" value="@Model.searchtxt" style="height: 30px; font-size: 12px;" title="Search" />
                            <div class="input-group-text" title="Search">
                                <i class="ri-lg ri-search-line" style="font-size: 10px;"></i>
                            </div>
                        </div>
                    </div>
                    <div class="col-xs-12 col-sm-12 col-md-5 col-lg-6 col-xl-5 pt-xs-1 pt-sm-1 pt-t-md-1">
                        <form asp-action="Index" asp-controller="PrintReleased" method="post" target="_blank">
                            <input class="form-select" name="searchtxt" value="@Model.searchtxt" type="hidden" />
                            <input class="form-select" name="department" value="@Model.DeptId" type="hidden" />
                            <input class="form-select" name="year1" value="@Model.YearFrom" type="hidden" />
                            <input class="form-select" name="year2" value="@Model.YearTo" type="hidden" />
                            <button class="btn btn-label btn-secondary btn-sm waves-effect waves-light" type="button" data-bs-toggle="modal" data-bs-target="#modal-filter">
                                <i class="ri-lg ri-filter-line label-icon align-middle fs-16 me-2"></i>
                                Filter
                            </button>
                            <button type="submit" class="btn btn-label btn-secondary btn-sm waves-effect waves-light">
                                <i class="ri-lg ri-printer-fill label-icon align-middle fs-16 me-2"></i>
                                Print
                            </button>
                        </form>
                    </div>
                    @await Html.PartialAsync("~/Views/Shared/_Entries.cshtml")
                </div>
                <div class="row mt-2">
                    <div class="col-lg-12">
                        @if (Model.searchtxt != "")
                        {
                            <div class="badge bg-primary-subtle text-primary badge-border w-auto" style="padding: .30rem .7rem; font-size: 12px;">
                                Showing results for <strong>"@Model.searchtxt"</strong>
                            </div>
                        }
                        @if (Model.deptText != "")
                        {
                            <div class="badge bg-primary-subtle text-primary badge-border w-auto" style="padding: .30rem .7rem; font-size: 12px;">
                                Department: <strong>"@Model.deptText"</strong>
                            </div>
                        }

                        @if (Model.YearFrom != "" || Model.YearTo != "")
                        {
                            <div class="badge bg-primary-subtle text-primary badge-border w-auto" style="padding: .30rem .7rem; font-size: 12px;">
                                Year: From <strong>"@Model.YearFrom"</strong> To <b>"@Model.YearTo"</b>
                            </div>
                        }
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-12">
                        <div class="table-responsive">
                            <table class="table table-bordered" id="itemTbl">
                                <thead>
                                    <tr>
                                        <th rowspan="2" scope="col" class="text-center align-content-center" style="padding: 5px;">
                                            No.
                                        </th>
                                        <th rowspan="2" class="text-center align-content-center" style="padding: 5px;">
                                            ITEM
                                        </th>
                                        <th colspan="12" class="text-center align-content-center" style="padding: 5px;">MONTHS</th>
                                    </tr>
                                    <tr>
                                        @foreach (var m in Months)
                                        {
                                            <th class="text-center align-content-center" style="padding: 5px;">
                                                @m.Substring(0, 3)
                                            </th>
                                        }
                                    </tr>
                                </thead>
                                <tbody>
                                    @if (items.Count > 0)
                                    {
                                        @foreach (var item in items)
                                        {
                                            <tr>
                                                <td scope="row" class="text-center align-content-center" width="3%" style="padding: 5px;">@item.num</td>
                                                <td class="font-weight-bold align-content-center" width="25%" style="padding: 5px;">@item.Name</td>
                                                @foreach (var m in Months)
                                                {
                                                    <td class="text-center align-content-center" style="padding: 5px;" width="6%">
                                                        @if (relItems.Count() > 0)
                                                        {
                                                            List<Released> rels = relItems
                                                            .Where(x => x.DateReleased.ToString("MMMM").ToUpper().Equals(m) && x.ItemId.Equals(item.Id))
                                                            .ToList();
                                                            if (rels.Count() > 0)
                                                            {
                                                                int Count = rels.Sum(x => x.ReleaseQuantity);
                                                                <span>@Count.ToString()</span>
                                                            }

                                                        }
                                                    </td>
                                                }
                                            </tr>
                                        }
                                    }
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-12">
                        @if (items.Count() > 0)
                        {
                            @await Html.PartialAsync("~/Views/Shared/_Pagination.cshtml", Model.PaginationModel)
                        }
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@section modals {
    @await Html.PartialAsync("~/Views/Released/Modal/_Filter.cshtml")
}
@section scripts {
    @await Html.PartialAsync("~/Views/Released/Shared/_scripts.cshtml")
}