<ul class="nav nav-tabs">
    <li class="nav-item">
        <a class="nav-link" id="ItemsLink" href="@Url.Action("Index", "Item")">
           @*  <i class="bi bi-box-fill"></i>&nbsp; *@ Items
        </a>
    </li>
    <li class="nav-item">
        <a class="nav-link" id="StocksLink" href="@Url.Action("Index", "Stocks")">
            @* <i class="bi bi-boxes"></i>&nbsp; *@ Stocks
        </a>
    </li>
    <li class="nav-item">
        <a class="nav-link" id="ReleaseItemLink" href="@Url.Action("Index", "ReleaseItem")">
            @* <i class="bi bi-box-arrow-up-right"></i>&nbsp; *@ Release
        </a>
    </li>
    <li class="nav-item">
        <a class="nav-link" id="RecordsLink" href="@Url.Action("Index", "Records")">
            @* <i class="bi bi-ui-checks"></i>&nbsp; *@ Records
        </a>
    </li>
    <li class="nav-item">
        <a class="nav-link" id="ReleasedLink" href="@Url.Action("Index", "Released")">
            @* <i class="bi bi-check2-circle"></i>&nbsp; *@Released
        </a>
    </li>
</ul>