<!DOCTYPE html>
<html lang="en" data-layout="vertical" data-topbar="light" data-sidebar="dark" data-sidebar-size="lg" data-sidebar-image="" data-preloader="disable" data-theme="material" data-theme-colors="default" data-bs-theme="light">
<head>
    @Html.Partial("~/Views/Shared/_Title-Meta.cshtml")
    @RenderSection("styles", required: false)
    @Html.Partial("~/Views/Shared/_Head_CSS.cshtml")
    @RenderSection("headscripts", required: false)
</head>
<body>
    @await Html.PartialAsync("~/Views/Shared/_Main-Loader.cshtml")
    @await Html.PartialAsync("~/Views/Shared/_Loader.cshtml")
    <div id="layout-wrapper">
        @Html.Partial("~/Views/Shared/_TopNav.cshtml")
        @Html.Partial("~/Views/Shared/_MainSidebar.cshtml")
        <div class="main-content">
            <div class="page-content">
                <div class="container-fluid">
                    @Html.Partial("~/Views/Shared/_Section_Header.cshtml")
                    @if (ViewBag.alert != null || ViewBag.alert != "")
                    {
                        <div class="row mt-2 mb-2">
                            <div class="col-lg-12">
                                @Html.Raw(ViewBag.alert)
                            </div>
                        </div>
                    }
                    @RenderBody()
                </div>
            </div>
        </div>
    </div>
    @RenderSection("modals", false)
    @Html.Partial("~/Views/Shared/_Vendor_Scripts.cshtml")
    @Html.Partial("_ValidationScriptsPartial")
    @RenderSection("scripts", required: false)
    @Html.RenderPartialSectionScripts()

    <script>
        window.addEventListener("load", (event) => {
            $(".main-loader").fadeOut(200);
            $("#layout-wrapper").fadeIn(200);
        });
    </script>
</body>
</html>