@using Microsoft.AspNetCore.Identity
@inject SignInManager<AccountUser> SignInManager

@if (SignInManager.IsSignedIn(User))
{

    if (User.IsInRole("System Administrator"))
    {
        <li class="menu-title"><i class="ri-more-line"></i><span data-key="t-menu">Home</span></li>
        
        <li class="nav-item">
            <a class="nav-link  menu-link" href="@Url.Action("Index", "Admin")" id="Dashboardlink">
                <i class="ri-lg ri-dashboard-line"></i>
                <span>Dashboard</span>
            </a>
        </li>
        <li class="menu-title"><i class="ri-more-line"></i><span data-key="t-menu">User</span></li>
        <li class="nav-item">
            <a class="nav-link menu-link" href="@Url.Action("Index", "User")" id="Userlink">
                <i class="ri-lg ri-team-line"></i>
                <span>Manage Users</span>
            </a>
        </li>
        <li class="menu-title"><i class="ri-more-line"></i><span data-key="t-menu">Department</span></li>
        <li class="nav-item" >
            <a class="nav-link menu-link" href="@Url.Action("Index", "Department")" id="Departmentlink">
                <i class="ri-lg ri-building-line" style="font-size: 15px;"></i>
                <span>Department</span>
            </a>
        </li>
        <li class="nav-item" >
            <a class="nav-link menu-link" href="@Url.Action("Index", "Cluster")" id="DeptClusterlink">
                <i class="ri-lg ri-building-line" ></i>
                <span>Department Cluster</span>
            </a>
        </li>
        <li class="menu-title"><i class="ri-more-line"></i><span data-key="t-menu">Profile</span></li>
        <li class="nav-item" >
            <a class="nav-link menu-link" href="@Url.Action("Index", "Profile")" id="Profilelink">
                <i class="ri-lg ri-profile-line"></i>
                <span>Manage Profile</span>
            </a>
        </li>
    }
    else if (User.IsInRole("Inventory Administrator"))
    {
        <li class="menu-title"><i class="ri-more-line"></i><span data-key="t-menu">Home</span></li>
        <li class="nav-item">
            <a class="nav-link menu-link" href="@Url.Action("Index", "Inventory")" id="Dashboardlink">
                <i class="ri-lg ri-dashboard-line"></i>
                <span>Dashboard</span>
            </a>
        </li>
        <li class="menu-title"><i class="ri-more-line"></i><span data-key="t-menu">Inventory</span></li>
        <li class="nav-item">
            <a class="nav-link menu-link collapsed" href="#inventoryDropDownItems" data-bs-toggle="collapse" role="button" aria-expanded="false" id="ManageItemsLink" aria-controls="inventoryDropDownItems">
                <i class="ri-lg ri-box-2-line"></i> <span data-key="t-advance-ui">Manage Inventory</span>
            </a>    
            <div class="menu-dropdown collapse" id="inventoryDropDownItems" style="">
                <ul class="nav nav-sm flex-column">
                    <li class="nav-item">
                        <a class="nav-link" id="ItemsLink" href="@Url.Action("Index", "Item")">
                           Items
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" id="StocksLink" href="@Url.Action("Index", "Stocks")">
                           Stocks
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" id="ReleaseItemLink" href="@Url.Action("Index", "ReleaseItem")">
                            Release
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" id="RecordsLink" href="@Url.Action("Index", "Records")">
                            Records
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" id="ReleasedLink" href="@Url.Action("Index", "Released")">
                            Released
                        </a>
                    </li>
                </ul>
            </div>
        </li>
        <li class="nav-item">
            <a class="nav-link menu-link" href="@Url.Action("Index", "Categories")" id="SpecificationLink">
                <i class="ri-lg ri-list-check-2"></i>
                Manage Categories
            </a>
        </li>
        <li class="menu-title"><i class="ri-more-line"></i><span data-key="t-menu">Profile</span></li>
        <li class="nav-item" id="Profilelink">
            <a class="nav-link menu-link" href="@Url.Action("Index", "Profile")">
                <i class="ri-lg ri-profile-line"></i>
                Manage Profile
            </a>
        </li>
    }
    else if (User.IsInRole("Inventory Manager"))
    {
        <li class="menu-title"><i class="ri-more-line"></i><span data-key="t-menu">Home</span></li>

        <li class="nav-item">
            <a class="nav-link menu-link" href="@Url.Action("Index", "Collection")" id="Dashboardlink">
                <i class="ri-lg ri-dashboard-line"></i> 
                <span>Dashboard</span>
            </a>
        </li>
        <li class="menu-title"><i class="ri-more-line"></i><span data-key="t-menu">Inventory</span></li>
        <li class="nav-item">
            <a class="nav-link menu-link" href="@Url.Action("Index", "Items")" id="ItemsLink">
                <i class="fas fa-check-circle" ></i>
                 TO RECEIVE
            </a>
        </li>
        <li class="menu-title"><i class="ri-more-line"></i><span data-key="t-menu">Profile</span></li>
        <li class="nav-item">
            <a class="nav-link menu-link" href="@Url.Action("Index", "Profile")" id="Profilelink">
                <i class="ri-lg ri-profile-line" ></i>
                 Profile
            </a>
        </li>
    }

}