@using Microsoft.EntityFrameworkCore
@using IIMSv1.Data
@using IIMSv1.Models
@using IIMSv1.Models.ViewModel
@using IIMSv1.Models.Shared
@using Microsoft.AspNetCore.Identity
@model ItemViewModel
@{
    ViewBag.title = "Item Management";
    ViewBag.breadcrumbs = "<div class=\"breadcrumb-item active\">"
                        + ViewBag.title
                        + "</div>";
    List<Items> items = Model.items;
    List<ItemSpecType> specTypes = Model.ItemInputModel.itemSpecTypes;
}
<div class="row">
    <div class="col-lg-12">
        <div class="card border-left border-right border-bottom">
            <div class="card-body">
                <div class="row mb-0">
                    <div class="col-lg-12">
                        <div class="row">
                            <div class="col-xs-4 col-sm-4 col-md-4 col-lg-3 col-xl-3">
                                <div class="form-icon right">
                                    <input type="text" class="form-control form-control-icon" placeholder="Search" id="txtsearch" name="search" value="@Model.SearchText" style="height: 30px; font-size: 12px;" />
                                    <i class="ri-lg ri-search-line"></i>
                                </div>
                            </div>
                            <div class="col-xs-4 col-sm-6 col-md-6 col-lg-7 col-xl-7">
                                <button class="btn btn-label btn-secondary btn-sm waves-effect waves-light" data-bs-toggle="modal" data-bs-target="#modal-filter">
                                    <i class="ri-lg ri-filter-line label-icon align-middle fs-16 me-2"></i>
                                    Filter
                                </button>
                                <button class="btn btn-label btn-secondary btn-sm waves-effect waves-light" data-bs-toggle="modal" data-bs-target="#modal-add-item">
                                    <i class="ri-lg ri-add-fill label-icon align-middle fs-16 me-2"></i>
                                    New Item
                                </button>
                            </div>
                            @await Html.PartialAsync("~/Views/Shared/_Entries.cshtml")
                        </div>
                    </div>
                </div>
                <div class="row mt-2">
                    <div class="col-lg-12">
                        @if (Model.dateFrom != "" && Model.dateTo != "")
                        {
                            <div class="badge bg-primary-subtle text-primary badge-border w-auto" style="padding: .35rem .8rem; font-size: 12px;">
                                Filter Date: From <strong>"@Model.dateFrom"</strong> to  <b>"@Model.dateTo"</b>
                            </div>
                        }
                        @if (Model.SearchText != "")
                        {
                            <div class="badge bg-primary-subtle text-primary badge-border w-auto" style="padding: .35rem .8rem; font-size: 12px;">
                                Showing results for <strong>"@Model.SearchText"</strong>
                            </div>
                        }
                        @if (Model.SupplyText != "")
                        {
                            <div class="badge bg-primary-subtle text-primary badge-border w-auto" style="padding: .35rem .8rem; font-size: 12px;">
                                Filter Supply: <strong>"@Model.SupplyText"</strong>
                            </div>
                        }
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-12">
                        <div class="table-responsive">
                            <table class="table table-bordered" id="itemTbl">
                                <thead class="table-light">
                                    <tr>
                                        <th scope="col" class="align-content-center">ITEM</th>
                                        <th scope="col" class="align-content-center text-center">SUPPLY TYPE</th>
                                        <th scope="col" class="align-content-center text-center">DATE</th>
                                        <th scope="col" class="align-content-center text-center">STATUS</th>
                                        <th scope="col" class="text-center align-content-center ">ACTION</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @if (items.Count > 0)
                                    {
                                        @foreach (var item in items)
                                        {
                                            <tr>

                                                <td class="font-weight-bold align-content-center" width="40%">@item.ItemName</td>
                                                <td class="align-content-center text-center" width="16%">@item.itemType.supplies.supplyName</td>
                                                <td class="align-content-center text-center" width="16%">@item.dateCreated.ToShortDateString()</td>
                                                <td class="text-center align-content-center" width="12%">
                                                    @if (item.IsEnabled == true)
                                                    {
                                                        <span class="badge badge-label bg-success"><i class="mdi mdi-circle-medium"></i> Enabled</span>
                                                    }
                                                    else
                                                    {
                                                        <span class="badge badge-label bg-warning"><i class="mdi mdi-circle-medium"></i> Disabled</span>
                                                    }
                                                </td>
                                                <td class="text-center align-content-center" width="16%">
                                                    <div class="dropdown dropend">
                                                        <a href="javascript:;" class="btn btn-label btn-sm btn-secondary waves-effect waves-light" role="button" id="dropdownActionItem" data-bs-toggle="dropdown" aria-expanded="false">
                                                            <i class="ri-more-fill label-icon align-middle fs-16 me-2"></i>
                                                            More
                                                        </a>
                                                        <ul class="dropdown-menu dropdown-menu-dark" aria-labelledby="dropdownActionItem">
                                                            @if (item.IsEnabled == true)
                                                            {
                                                                <li>
                                                                    <a href="javascript:;" class="dropdown-item waves-effect waves-light btnViewItem"
                                                                       data-itemId="@item.Id"
                                                                       data-ItemCode="@item.ItemCode"
                                                                       data-ItemName="@item.ItemName"
                                                                       data-TypeId="@item.itemType.Id"
                                                                       data-UnitId="@item.itemUnit.Id"
                                                                       data-supplyId="@item.itemType.SuppliesId">
                                                                        <i class="ri-lg ri-pencil-fill"></i>
                                                                        Edit
                                                                    </a>
                                                                </li>
                                                                <li>
                                                                    @if (item.itemQuantity != null)
                                                                    {
                                                                        <a href="javascript:;" data-itemId="@item.Id" class="dropdown-item waves-effect waves-light btnDeactiveInStock">
                                                                            <i class="ri-lg ri-toggle-line"></i> Disable
                                                                        </a>

                                                                    }
                                                                    else
                                                                    {
                                                                        <a href="javascript:;" class="dropdown-item waves-effect waves-light btnDeactivate" data-itemId="@item.Id">
                                                                            <i class="ri-lg ri-toggle-line"></i> Disable
                                                                        </a>
                                                                    }
                                                                </li>

                                                            }
                                                            else
                                                            {
                                                                <li>
                                                                    <a href="javascript:;" class="dropdown-item waves-effect waves-light btnActivate" data-itemId="@item.Id">
                                                                        <i class="ri-lg ri-toggle-fill"></i> Enable
                                                                    </a>
                                                                </li>
                                                                <li>
                                                                    <a href="javascript:;" class="dropdown-item waves-effect waves-light btnDeleteItem" data-itemId="@item.Id">
                                                                        <i class="ri-lg ri-delete-bin-6-line"></i> Delete
                                                                    </a>
                                                                </li>

                                                            }
                                                        </ul>
                                                    </div>

                                                </td>
                                            </tr>
                                        }
                                    }

                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-12">
                        @if (items.Count() > 0)
                        {
                            @await Html.PartialAsync("~/Views/Shared/_Pagination.cshtml", Model.PaginationModel)
                        }
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
@section modals {
    @await Html.PartialAsync("~/Views/Item/Modal/_ViewItem.cshtml", Model.EditItemInputModel)
    @await Html.PartialAsync("~/Views/Item/Modal/_AddItem.cshtml", Model.ItemInputModel)
    @await Html.PartialAsync("~/Views/Item/Modal/_ActivateItem.cshtml")
    @await Html.PartialAsync("~/Views/Item/Modal/_DeleteItem.cshtml")
    @await Html.PartialAsync("~/Views/Item/Modal/_AddSpecsType.cshtml", Model.AddSpecModel)
    @await Html.PartialAsync("~/Views/Item/Modal/_AddSupply.cshtml", Model.AddSupplyModel)
    @await Html.PartialAsync("~/Views/Item/Modal/_AddUnit.cshtml", Model.AddUnitModel)
    @await Html.PartialAsync("~/Views/Item/Modal/_AddItemType.cshtml", Model.AddItemTypeModel)
    @await Html.PartialAsync("~/Views/Item/Modal/_DeactivateItem.cshtml")
    @await Html.PartialAsync("~/Views/Item/Modal/_Filter.cshtml")
}
@section scripts {
    @await Html.PartialAsync("~/Views/Item/Shared/_scripts.cshtml")
}
