@using IIMSv1.Models
@using IIMSv1.Models.ViewModel
@model InventoryViewModel
@{
    ViewBag.title = "Inventory Dashboard";
}

<div class="row">
    <div class="col-lg-12">
        <div class="row">
            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 col-xl-4">
                <div class="card card-height-100">
                    <div class="card-header align-items-center d-flex">
                        <h4 class="card-title mb-0 flex-grow-1">Recent Releases</h4>
                    </div><!-- end card header -->

                    <div class="card-body p-0">
                        <div data-simplebar="init" style="max-height: 257px;" class="simplebar-scrollable-y">
                            <div class="simplebar-wrapper" style="margin: 0px;">
                                <div class="simplebar-height-auto-observer-wrapper"><div class="simplebar-height-auto-observer"></div></div><div class="simplebar-mask">
                                    <div class="simplebar-offset" style="right: 0px; bottom: 0px;">
                                        <div class="simplebar-content-wrapper" tabindex="0" role="region" aria-label="scrollable content" style="height: auto; overflow: hidden scroll;">
                                            <div class="simplebar-content" style="padding: 0px;">
                                                <div class="row p-5 m-5 align-conten-center justify-content-center" id="partialTblLoader">
                                                    @await Html.PartialAsync("~/Views/Shared/_LoaderElement.cshtml")
                                                </div>
                                                <ul class="list-group list-group-flush border-dashed px-3" id="cardlistReleased" style="display: none;">
                                                    
                                                </ul><!-- end ul -->
                                            </div>
                                        </div>
                                    </div>
                                </div><div class="simplebar-placeholder" style="width: 731px; height: 268px;"></div>
                            </div><div class="simplebar-track simplebar-horizontal" style="visibility: hidden;"><div class="simplebar-scrollbar" style="width: 0px; display: none;"></div></div><div class="simplebar-track simplebar-vertical" style="visibility: visible;"><div class="simplebar-scrollbar" style="height: 246px; transform: translate3d(0px, 0px, 0px); display: block;"></div></div>
                        </div>
                    </div><!-- end card body -->
                </div>
            </div>
            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 col-xl-8">
                <div class="col-lg-12">
                    <div class="row">
                        <div class="col-lg-12">
                            <div class="card crm-widget">
                                <div class="card-body p-0">
                                    <div class="row row-cols-md-3 row-cols-1">
                                        <a href="@Url.Action("Index", "Item")" style="text-decoration: none;">
                                            <div class="col col-lg border-end">
                                                <div class="py-4 px-3">
                                                    <h5 class="text-muted text-uppercase fs-13">
                                                        ITEMS
                                                    </h5>
                                                    <div class="d-flex align-items-center">
                                                        <div class="flex-shrink-0">
                                                            <i class="ri-box-2-line display-6 text-muted"></i>
                                                        </div>
                                                        <div class="flex-grow-1 ms-3">
                                                            <h2 class="mb-0"><span class="counter-value" data-target="@Model.items">@Model.items</span></h2>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </a><!-- end col -->
                                        <a href="@Url.Action("Index", "Stocks", new {status = "InStock"})" style="text-decoration: none;">
                                            <div class="col col-lg border-end">
                                                <div class="mt-3 mt-md-0 py-4 px-3">
                                                    <h5 class="text-muted text-uppercase fs-13">
                                                        INSTOCK ITEMS 
                                                    </h5>
                                                    <div class="d-flex align-items-center">
                                                        <div class="flex-shrink-0">
                                                            <i class="ri-box-2-fill display-6 text-muted"></i>
                                                        </div>
                                                        <div class="flex-grow-1 ms-3">
                                                            <h2 class="mb-0"><span class="counter-value" data-target="@Model.InStock">@Model.InStock</span></h2>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </a><!-- end col -->
                                        <a href="@Url.Action("Index", "Stocks", new { status = "Out of Stock"})" style="text-decoration: none;">
                                            <div class="col col-lg border-end">
                                                <div class="mt-3 mt-md-0 py-4 px-3">
                                                    <h5 class="text-muted text-uppercase fs-13">
                                                        OUT OF STOCK ITEMS
                                                    </h5>
                                                    <div class="d-flex align-items-center">
                                                        <div class="flex-shrink-0">
                                                            <i class="ri-dropbox-fill display-6 text-muted"></i>
                                                        </div>
                                                        <div class="flex-grow-1 ms-3">
                                                            <h2 class="mb-0"><span class="counter-value" data-target="@Model.OutofStock">@Model.OutofStock</span></h2>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </a><!-- end col -->
                                    </div><!-- end row -->
                                </div><!-- end card body -->
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
@section modals {

}
@section scripts {
    @await Html.PartialAsync("~/Views/Inventory/Shared/_scripts.cshtml")
}