@using Microsoft.EntityFrameworkCore
@using IIMSv1.Data
@using IIMSv1.Models
@using IIMSv1.Models.ViewModel
@using IIMSv1.Models.Shared
@using Microsoft.AspNetCore.Identity
@model CategoriesViewModel
@{

    List<ItemSpecType> specs = Model.itemSpecTypes;
}

<table class="table table-bordered" id="specsTable" style="font-size: 12px;">
    <thead class="table-light">
        <tr>
            <th>SPECIFICATION TYPE</th>
            <th class="text-center">STATUS</th>
            <th class="text-center">ACTION</th>
        </tr>
    </thead>
    <tbody>
        @if (specs.Count() > 0)
        {
            foreach (var spec in specs)
            {
                <tr>
                    <td class="align-content-center">@spec.itemSpecType</td>
                    <td class="text-center align-content-center">
                        @if (spec.IsEnabled == true)
                        {
                            <span class="badge badge-label bg-success"><i class="mdi mdi-circle-medium"></i> Enabled</span>
                        }
                        else
                        {
                            <span class="badge badge-label bg-warning"><i class="mdi mdi-circle-medium"></i> Disabled</span>
                        }
                    </td>
                    <td class="text-center align-content-center">
                        <div class="dropdown dropend">
                            <a href="javascript:;" class="btn btn-label btn-sm btn-secondary waves-effect waves-light" role="button" id="moreSpecsDrop" data-bs-toggle="dropdown" aria-expanded="false">
                                <i class="ri-more-fill label-icon align-middle fs-16 me-2"></i>
                                More
                            </a>
                            <ul class="dropdown-menu dropdown-menu-dark" aria-labelledby="moreSpecsDrop">
                                <li>
                                    <a href="javascript:;" class="dropdown-item waves-effect waves-light" onclick="editType('Specification Type', '','@spec.Id', '@spec.itemSpecType');">
                                        <i class="ri-lg ri-pencil-fill"></i> Edit
                                    </a>
                                </li>
                                @if (spec.IsEnabled == true)
                                {
                                    <li>
                                        <a href="javascript:;" class="dropdown-item waves-effect waves-light" onclick="disable('@spec.Id');">
                                            <i class="ri-lg ri-toggle-line"></i> Disable
                                        </a>
                                    </li>
                                }
                                else
                                {
                                    <li>
                                        <a href="javascript:;" class="dropdown-item waves-effect waves-light" onclick="enable('@spec.Id');">
                                            <i class="ri-lg ri-toggle-fill"></i> Enable
                                        </a>
                                    </li>
                                }
                            </ul>
                        </div>
                    </td>
                </tr>
            }
        }

    </tbody>
</table>