<script>
    $(function () {
        $("#ManageItemsLink").addClass("active");
        $("#ItemsLink").addClass("active");
    });

    //DataTable
     $("#itemTbl").DataTable({
        // "ordering": false,
        paging: false,
        "bPaginate": false,
        "bLengthChange": false,
        "bFilter": false,
        "bInfo": false
    });
    //Prevent Enter
    $('#specTypeInput').keydown(function(event){
      if (event.which == '13') {
        event.preventDefault();
        event.stopPropagation();
      }
    });
     $('#ItemTypeInput').keydown(function(event){
      if (event.which == '13') {
        event.preventDefault();
        event.stopPropagation();
      }
    });
     $('#SupplyInput').keydown(function(event){
      if (event.which == '13') {
        event.preventDefault();
        event.stopPropagation();
      }
    });
     $('#itemUnitInput').keydown(function(event){
      if (event.which == '13') {
        event.preventDefault();
        event.stopPropagation();
      }
    });
    
     $('#TypeName').keydown(function(event){
      if (event.which == '13') {
        event.preventDefault();
        event.stopPropagation();
      }
    });
    //Select ItemType 
     $("#ItemType").attr("Disabled", "Disabled");

    // Select Supply Type
    $("#SupplyType").on("change", function () {
        var val = $("#SupplyType option:selected").val();
        var name = $("#SupplyType option:selected").text();
        var itemTypeSel = $("#ItemType");

        if (val != "") {
            //Ajax Change Value of select option itemtype
            itemTypeSel.removeAttr("Disabled", "Disabled");
            $.ajax({
                url: "/Item/GetSupplyId",
                method: "Post",
                data: { supplyId: val },
                success: function (result) {
                    itemTypeSel.empty(); //clear the options:
                    var s = "";
                    s += '<option value="">Select Item Type</option>';
                    for (var i = 0; i < result.length; i++) {
                        s += '<option value="' + result[i].id + '">' + result[i].itemType + '</option>';
                    }
                    itemTypeSel.html(s);
                }
            });
            $("#supplyTypeBtn").attr("data-actName", name);
            $("#supplyTypeBtn").attr("data-id", val);
            $("#ItemTypeBtn").attr("data-suppId", val);
            $("#supplyTypeBtn").removeAttr("Disabled", "Disabled");
            $(".btnAddItemType").removeAttr("Disabled", "Disabled");
        }
        else {
            $("#supplyTypeBtn").attr("Disabled", "Disabled");
            $(".btnAddItemType").attr("Disabled", "Disabled");
            itemTypeSel.val("");
            itemTypeSel.attr("Disabled", "Disabled");
        }
    });

    //Select Item Type
    $("#ItemType").on("change", function () {
        var val = $("#ItemType option:selected").val();
        var name = $("#ItemType option:selected").text();
        $("#ItemName").val(val);
        if (val != "") {
             $("#ItemTypeBtn").attr("data-id", val);
             $("#ItemTypeBtn").attr("data-actName", name);
             $("#ItemTypeBtn").removeAttr("Disabled", "Disabled");
        }
        else {
            $("#ItemTypeBtn").attr("Disabled", "Disabled");
        }
    });
    //Select Unit Type
    $("#unitSel").on("change", function () {
        var val = $("#unitSel option:selected").val();
        var name = $("#unitSel option:selected").text();
        if (val != "") {
             $("#UnitTypeBtn").attr("data-id", val);
             $("#UnitTypeBtn").attr("data-actName", name);
             $("#UnitTypeBtn").removeAttr("Disabled", "Disabled");
        }
        else {
            $("#UnitTypeBtn").attr("Disabled", "Disabled");
        }
    });

    //Btn Edit All Type
    $(".btnEditType").on("click", function(){
        var action = $(this).attr("data-type");
        var id = $(this).attr("data-id");
        var name = $(this).attr("data-actName");
        var supplyName = $(this).attr("data-suppId");
        $("form[name=editTypeForm]")[0].reset();
        $(".title-type").text(action);
        $("#action").val(action);
        $("#TypeIdInput").val(id);
        $("#TypeName").val(name);
        $("#supplyIdInput").val(supplyName);
        $("#modal-add-item").modal("hide");
        $("#modal-edit-type").modal("show");
    });

    function formEditType(){
        $(".btnEditType").on("click", function(){
        var action = $(this).attr("data-type");
        var id = $(this).attr("data-id");
        var name = $(this).attr("data-actName");
        var supplyName = $(this).attr("data-suppId");
        $(".title-type").text(action);
        $("#action").val(action);
        $("#TypeIdInput").val(id);
        $("#TypeName").val(name);
        $("#supplyIdInput").val(supplyName);
        $("#modal-add-item").modal("hide");
        $("#modal-edit-type").modal("show");
    });
    }

    //Btn Add Supply Type
    $(".btnAddSupplyType").on("click", function(){
        $("#modal-add-item").modal("hide");
        $("form[name=AddSupplyForm]")[0].reset();
        $("#modal-add-supply").modal("show");
    });

    //Btn Add Item Type
    $(".btnAddItemType").on("click", function(){
        var val = $("#SupplyType option:selected").val();
        $("form[name=AddItemTypeForm]")[0].reset();
        $("#supplyIdAdd").val(val);
        $("#modal-add-item").modal("hide");
        $("#modal-add-itemtype").modal("show");
    });

    //Btn Add Unit Type
    $(".btnAddUnitType").on("click", function(){
        $("#modal-add-item").modal("hide");
        $("form[name=AddUnitForm]")[0].reset();
        $("#modal-add-unit").modal("show");
    });

    //Btn Add Description Type
    $(".btnAddSpecsType").on("click", function(){
        $("#modal-add-item").modal("hide");
        $("#modal-add-specs").modal("show");
    });

    //Btn Cancel
    $(".btnCancelAdd").on("click", function(){
        $("#modal-add-item").modal("show");
    });

    //Edit All Type
    $("form[name=editTypeForm]").on("submit", function(event){
        event.preventDefault();

        var form = new FormData(this);
        var val = $("#action").val();
        $.ajax({
            url: "/Item/ActionEditType",
            method: "Post",
            data: form,
            contentType: false,
            cache: false,
            processData: false,
            success: function(data) {
                if(data != "0" && data != "1"){
                    if(val == "Supply Type"){
                        var id = data.id;
                        var Name = data.supplyName
                        $("#SupplyType option[value=" + id +"]").text(Name);
                        $("#modal-edit-type").modal("hide");
                         Swal.fire({
                            title: "SUCCESS",
                            html: "Save changes successfull",
                            icon: "success",
                            allowOutsideClick: false,
                            allowEscapeKey: false,
                            showCancelButton: false,
                            confirmButtonText: "Okay",
                            closeOnConfirm: false,
                            closeOnCancel: false,
                        }).then((result) => {
                            if (result.isConfirmed) {
                                $("#supplyTypeBtn").attr("data-actName", Name);
                                $("#modal-add-item").modal("show");
                            }
                        });
                    }
                    else if(val == "Item Type"){
                        var id = data.id;
                        var Name = data.itemType;
                        $("#ItemType option[value=" + id +"]").text(Name);
                        $("#modal-edit-type").modal("hide");
                         Swal.fire({
                            title: "SUCCESS",
                            html: "Save changes successfull",
                            icon: "success",
                            allowOutsideClick: false,
                            allowEscapeKey: false,
                            showCancelButton: false,
                            confirmButtonText: "Okay",
                            closeOnConfirm: false,
                            closeOnCancel: false,
                        }).then((result) => {
                            if (result.isConfirmed) {
                                $("#ItemTypeBtn").attr("data-actName", Name);
                                $("#modal-add-item").modal("show");
                            }
                        });
                    }
                    else if(val == "Unit Type"){
                        var id = data.id;
                        var Name = data.unitName;
                        $("#unitSel option[value=" + id +"]").text(Name);
                        $("#modal-edit-type").modal("hide");
                        Swal.fire({
                            title: "SUCCESS",
                            html: "Save changes successfull",
                            icon: "success",
                            allowOutsideClick: false,
                            allowEscapeKey: false,
                            showCancelButton: false,
                            confirmButtonText: "Okay",
                            closeOnConfirm: false,
                            closeOnCancel: false,
                        }).then((result) => {
                            if (result.isConfirmed) {
                                $("#UnitTypeBtn").attr("data-actName", Name);
                                $("#modal-add-item").modal("show");
                            }
                        });
                    }
                    else if(val == "Description Type"){
                        var id = data.id;
                        var Name = data.itemSpecType;
                        $("#modal-edit-type").modal("hide");
                        Swal.fire({
                            title: "SUCCESS",
                            html: "Save changes successfull",
                            icon: "success",
                            allowOutsideClick: false,
                            allowEscapeKey: false,
                            showCancelButton: false,
                            confirmButtonText: "Okay",
                            closeOnConfirm: false,
                            closeOnCancel: false,
                        }).then((result) => {
                            if (result.isConfirmed) {
                                $("#label_"+id).text(Name);
                                $("#"+id).attr("data-actName", Name);
                                $("#modal-add-item").modal("show");
                            }
                        });
                    }
                }
                else if (data == "1"){
                     Swal.fire({
                        title: "NO CHANGES",
                        html: "no current changes applied",
                        icon: "info",
                        allowOutsideClick: false,
                        allowEscapeKey: false,
                        showCancelButton: false,
                        confirmButtonText: "Okay",
                        closeOnConfirm: false,
                        closeOnCancel: false,
                    });
                }
            }
        })
    });

    //Form Specs Type
    $("form[name=addspecsForm]").on("submit", function(event){
        event.preventDefault();

        var form = new FormData(this);
        var container = $("#checkboxContainer");
        $.ajax({
            url: "/Item/_AddSpecType",
            method: "Post",
            data: form,
            contentType: false,
            cache: false,
            processData: false,
            success: function(data) {
                if(data != 0){
                    var afterHtml = "";
                    var html = "";
                    for (var i = 0; i < data.length; i++) {
                        var row = document.getElementById(data[i].itemSpecType + ' _ ' + data[i].id);
                        if(row == null){
                            html = '<div class="form-group" id="'+ data[i].itemSpecType + '_' + data[i].id +'">'
                                    + '<div class="hstack gap-2">'
                                    + '<label id="label_'+ data[i].id +'" for="' + data[i].itemSpecType +'">' + data[i].itemSpecType + '</label>'
                                        + '<a href="javascript:;" class="text-secondary pb-2 btnEditType" id="' + data[i].id + '" data-actName="' + data[i].itemSpecType + '"  data-id="'+ data[i].id +'" data-type="Description Type">'
                                        + '<i class="ri-lg ri-pencil-fill"></i> Edit'
                                        + '</a>'
                                    + '</div>'
                                    + '<div class="hstack gap-2">'
                                    + '<div class="input-group">'
                                    + '<div class="input-group-text">'
                                    + '<input type="checkbox" id="" class="form-check-input checkboxValue" value="' + data[i].itemSpecType + '" required>'
                                    + '</div>'
                                    + '<input class="form-control" id="Valueof_' + data[i].itemSpecType + '" name="NewItemSpecs" value="" type="hidden" />'
                                    + '<input class="form-control" id="IDof_' + data[i].itemSpecType + '" value="' + data[i].id + '" type="hidden" />'
                                    + '<input class="form-control" id="' + data[i].itemSpecType + '" type="text" disabled autocomplete="off">'
                                    + '</div>'
                                    + '</div>'
                                    + '</div>';

                            var toInsertAfter = document.getElementById(afterHtml);
                            $(html).insertAfter(toInsertAfter);
                            console.log("this is the item:"+html);
                            console.log("This is after:" + afterHtml);
                            fncCheckBoxVal();
                            formEditType();
                        }
                        else {
                            afterHtml = data[i].itemSpecType + ' _ ' + data[i].id;
                        }
                    }
                    $("#modal-add-specs").modal("hide");
                    $("form[name=addspecsForm]")[0].reset();
                    Swal.fire({
                        title: "SUCCESS",
                        html: "Description type successfully Added",
                        icon: "success",
                        allowOutsideClick: false,
                        allowEscapeKey: false,
                        showCancelButton: false,
                        confirmButtonText: "Okay",
                        closeOnConfirm: false,
                        closeOnCancel: false,
                    }).then((result) => {
                        if (result.isConfirmed) {
                            $("#modal-add-item").modal("show");
                        }
                    });
                    
                }
            }
        });
    });
    //Form Unit Type
    $("form[name=AddUnitForm]").on("submit", function(event){
        event.preventDefault();

        var form = new FormData(this);
        var UnitSel = $("#unitSel");
        var val = $("#itemUnitInput").val();
        $.ajax({
            url: "/Item/_AddUnitType",
            method: "Post",
            data: form,
            contentType: false,
            cache: false,
            processData: false,
            success: function(data) {
                if(data != 0){
                    UnitSel.empty();
                    var s = "";
                    s += '<option value="">Select Item Unit</option>';
                    for (var i = 0; i < data.length; i++) {
                        s += '<option value="' + data[i].id + '">' + data[i].unitName + '</option>';
                    }
                    UnitSel.html(s);
                    var newUnitType = $("#unitSel option:contains("+ val +")").val();
                    $("form[name=AddUnitForm]")[0].reset();
                    $("#modal-add-unit").modal("hide");
                    Swal.fire({
                        title: "SUCCESS",
                        html: "Unit type successfully Added",
                        icon: "success",
                        allowOutsideClick: false,
                        allowEscapeKey: false,
                        showCancelButton: false,
                        confirmButtonText: "Okay",
                        closeOnConfirm: false,
                        closeOnCancel: false,
                    }).then((result) => {
                        if (result.isConfirmed) {
                            $("#unitSel").val(newUnitType);
                            $("#UnitTypeBtn").attr("data-id", newUnitType);
                            $("#UnitTypeBtn").attr("data-actName", val);
                            $("#UnitTypeBtn").removeAttr("Disabled", "Disabled");
                            $("#modal-add-item").modal("show");
                        }
                    });
                }
            }
        });
    });

    //Form Item Type
    $("form[name=AddItemTypeForm]").on("submit", function(event){
        event.preventDefault();

        var form = new FormData(this);
        var itemTypeSel = $("#ItemType");
        var val = $("#ItemTypeInput").val();
        $.ajax({
            url: "/Item/_AddItemType",
            method: "Post",
            data: form,
            contentType: false,
            cache: false,
            processData: false,
            success: function(data) {
                if(data != "0"){
                    itemTypeSel.empty();
                    var s = "";
                    s += '<option value="">Select Item Type</option>';
                    for (var i = 0; i < data.length; i++) {
                        s += '<option value="' + data[i].id + '">' + data[i].itemType + '</option>';
                    }
                    itemTypeSel.html(s);
                    var newItemType = $("#ItemType option:contains("+ val +")").val();
                    $("form[name=AddItemTypeForm]")[0].reset();
                    $("#modal-add-itemtype").modal("hide");
                    Swal.fire({
                        title: "SUCCESS",
                        html: "Item type successfully Added",
                        icon: "success",
                        allowOutsideClick: false,
                        allowEscapeKey: false,
                        showCancelButton: false,
                        confirmButtonText: "Okay",
                        closeOnConfirm: false,
                        closeOnCancel: false,
                    }).then((result) => {
                        if (result.isConfirmed) {
                            $("#ItemType").val(newItemType);
                            $("#ItemTypeBtn").attr("data-id", newItemType);
                            $("#ItemTypeBtn").attr("data-actName", val);
                            $("#ItemTypeBtn").removeAttr("Disabled", "Disabled");
                            $("#modal-add-item").modal("show");
                        }
                    });

                }
            }
        });
    });

    //Form Supply Type
    $("form[name=AddSupplyForm]").on("submit", function(event){
        event.preventDefault();

        var form = new FormData(this);
        var SupplySel = $("#SupplyType");
        var val = $("#SupplyInput").val();
        $.ajax({
            url: "/Item/_AddSupply",
            method: "Post",
            data: form,
            contentType: false,
            cache: false,
            processData: false,
            success: function(data) {
                if(data != "0"){
                    $("#modal-add-supply").modal("hide");
                    console.log(data);
                    SupplySel.empty();
                    var s = "<option value=''>Select Supply Type</option>";
                    for(var i = 0; i < data.length; i++){
                        s += '<option value="'+ data[i].id + '">'+ data[i].supplyName + '</option>';
                    }
                    SupplySel.html(s);
                    var newSupply = $("#SupplyType option:contains("+ val +")").val();
                    $("form[name=AddSupplyForm]")[0].reset();
                     Swal.fire({
                        title: "SUCCESS",
                        html: "Supply type successfully Added",
                        icon: "success",
                        allowOutsideClick: false,
                        allowEscapeKey: false,
                        showCancelButton: false,
                        confirmButtonText: "Okay",
                        closeOnConfirm: false,
                        closeOnCancel: false,
                    }).then((result) => {
                        if (result.isConfirmed) {
                            var itemTypeSel = $("#ItemType");
                            itemTypeSel.removeAttr("Disabled", "Disabled");
                            $.ajax({
                                url: "/Item/GetSupplyId",
                                method: "Post",
                                data: { supplyId: newSupply },
                                success: function (result) {
                                    itemTypeSel.empty(); //clear the options:
                                    var s = "";
                                    s += '<option value="">Select Item Type</option>';
                                    for (var i = 0; i < result.length; i++) {
                                        s += '<option value="' + result[i].id + '">' + result[i].itemType + '</option>';
                                    }
                                    itemTypeSel.html(s);
                                }
                            });
                            $("#supplyTypeBtn").attr("data-id", newSupply);
                            $("#supplyTypeBtn").attr("data-actName", val);
                            $("#ItemTypeBtn").attr("data-suppId", newSupply);
                            $("#supplyTypeBtn").removeAttr("Disabled", "Disabled");
                            $(".btnAddItemType").removeAttr("Disabled", "Disabled");
                            $("#SupplyType").val(newSupply);
                            $("#modal-add-item").modal("show");
                        }
                    });
                    
                }
            }
        });
    });

    $("#ItemNameEdit").on("input", function () {
        var val = $(this).val();
        var WithoutVowels = removeVowels(val);
        $("#CodeNameEdit").val(WithoutVowels);
    });

    $(".btndisableItem").on("click", function () {
        InMainLoader();
    });
    $(".btndeleteItem").on("click", function () {
        InMainLoader();
    });
    $(".btnenableItem").on("click", function () {
        InMainLoader();
    });
    $(".btnDeactivate").on("click", function () {
        var val = $(this).attr("data-itemId");
        $("#ItemIdDeactivate").val(val);
        $("#modal-item-deactivate").modal("show");
    });
    $(".btnActivate").on("click", function () {
        var val = $(this).attr("data-itemId");
        $("#ItemIdActivate").val(val);
        $("#modal-item-activate").modal("show");
    });
    $(".btnDeleteItem").on("click", function () {
        var val = $(this).attr("data-itemId");
        $("#ItemIdDelete").val(val);
        $("#modal-delete-item").modal("show");
    });
    $(".checkboxValue").on("click", function () {
        var thisValue = $(this).val();
        if (this.checked) {
            $("#" + thisValue).removeAttr("Disabled", "Disabled");
            $("#" + thisValue).attr("Required", "Required");
            $("#" + thisValue).on("change", function () {
                var Value = $(this).val();
                var Id = $("#IDof_" + thisValue).val();
                $("#Valueof_" + thisValue).val(Id + "," + Value);
            });
        } else if (!this.checked) {
            $("#" + thisValue).attr("Disabled", "Disabled");
            $("#" + thisValue).removeAttr("Required", "Required");
            $("#Valueof_" + thisValue).val("");
            $("#" + thisValue).val("");
        }

    });

    function fncCheckBoxVal(){
        $(".checkboxValue").on("click", function () {
        var thisValue = $(this).val();
        if (this.checked) {
            $("#" + thisValue).removeAttr("Disabled", "Disabled");
            $("#" + thisValue).attr("Required", "Required");
            $("#" + thisValue).on("change", function () {
                var Value = $(this).val();
                var Id = $("#IDof_" + thisValue).val();
                $("#Valueof_" + thisValue).val(Id + "," + Value);
            });
        } else if (!this.checked) {
            $("#" + thisValue).attr("Disabled", "Disabled");
            $("#" + thisValue).removeAttr("Required", "Required");
            $("#Valueof_" + thisValue).val("");
            $("#" + thisValue).val("");
        }

    });
    }

    $(".checkboxValueEdit").on("click", function () {
        var thisValue = $(this).val();
        if (this.checked) {
            $("#EditInput_" + thisValue).removeAttr("Disabled", "Disabled");
            $("#EditInput_" + thisValue).attr("Required", "Required");
            $("#EditInput_" + thisValue).on("change", function () {
                var Value = $(this).val();
                var Id = $("#EditIDof_" + thisValue).val();
                $("#EditValueof_" + thisValue).val(Id + "," + Value);
            });
        } else if (!this.checked) {
            $("#EditInput_" + thisValue).attr("Disabled", "Disabled");
            $("#EditInput_" + thisValue).removeAttr("Required", "Required");
            $("#EditValueof_" + thisValue).val("");
            $("#EditInput_" + thisValue).val("");
        }
    });
    
    $(".btnViewItem").on("click", function () {
        var Id = $(this).attr("data-itemId");
        var itemCode = $(this).attr("data-ItemCode");
        var itemName = $(this).attr("data-ItemName");
        var itemUnit = $(this).attr("data-UnitId");
        var itemType = $(this).attr("data-TypeId");
        var itemQuantity = $(this).attr("data-Quantity");
        var itemSupplyId = $(this).attr("data-supplyId");

        $("#ItemIdEdit").val(Id);
        $("#CodeNameEdit").val(itemCode);
        $("#ItemNameEdit").val(itemType);
        $("#SupplyTypeEdit").val(itemSupplyId);
        $("#QuantityEdit").val(itemQuantity);
        $("#UnitEdit").val(itemUnit);

        $(".checkboxValueEdit").attr('checked', false);
        $(".editValueof").val("");
        $(".inputEditSpecs").val("");
        $(".inputEditSpecs").removeAttr("Required", "Required");
        $(".inputEditSpecs").attr("Disabled", "Disabled");
        InMainLoader();
        var itemTypeSel = $("#ItemTypeEdit");
        $.ajax({
            url: "/Item/GetSupplyId",
            method: "Post",
            data: { supplyId: itemSupplyId },
            success: function (result) {
                itemTypeSel.empty(); //clear the options:
                var s = "";
                s += '<option value="">Select Item Type</option>';
                for (var i = 0; i < result.length; i++) {
                    s += '<option value="' + result[i].id + '">' + result[i].itemType + '</option>';
                }
                s += '<option value="others">Others</option>';
                itemTypeSel.html(s);
                itemTypeSel.val(itemType);
            }
        });

        $.ajax({
            url: "/Item/GetSpecs",
            method: "Post",
            data: { ItemId: Id },
            success: function (result) {
                for (var i = 0; i < result.length; i++) {
                    $("#Edit_" + result[i].itemSpecValue.itemSpecType.id).attr('checked', true);
                    $("#EditInput_" + result[i].itemSpecValue.itemSpecType.itemSpecType).removeAttr("Disabled", "Disabled");
                    $("#EditInput_" + result[i].itemSpecValue.itemSpecType.itemSpecType).attr("Required", "Required");
                    $("#EditInput_" + result[i].itemSpecValue.itemSpecType.itemSpecType).val(result[i].itemSpecValue.itemSpecValue);
                    $("#EditValueof_" + result[i].itemSpecValue.itemSpecType.itemSpecType).val(result[i].itemSpecValue.itemSpecType.id + "," + result[i].itemSpecValue.itemSpecValue)
                    $(".inputEditSpecs").on("change", function () {
                        var Value = $(this).val();
                        var dataValue = $(this).attr("data-value");
                        var Id = $("#EditIDof_" + dataValue).val();
                        $("#EditValueof_" + dataValue).val(Id + "," + Value);
                    });
                }

                OutMainLoader();
                $("#modal-edit-item").modal("show");
            }
        });

    });

    $("#SupplyTypeEdit").on("change", function () {
        var val = $("#SupplyTypeEdit option:selected").val();
        var itemTypeSel = $("#ItemTypeEdit");
        if (val == "") {
            $("#OtherItemTypeEdit").attr("Disabled", "Disabled");
            $("#OtherItemTypeEdit").removeAttr("required", "required");
            $("#ItemTypeEdit").attr("Disabled", "Disabled");
            $("#ItemTypeEdit").val("");
        }
        else {
            $("#ItemTypeEdit").removeAttr("Disabled", "Disabled");
        }
        $.ajax({
            url: "/Item/GetSupplyId",
            method: "Post",
            data: { supplyId: val },
            success: function (result) {
                itemTypeSel.empty();
                var s = "";
                s += '<option value="">Select Item Type</option>';
                for (var i = 0; i < result.length; i++) {
                    s += '<option value="' + result[i].id + '">' + result[i].itemType + '</option>';
                }
                itemTypeSel.html(s);
            }
        });
    });

    $("#ItemTypeEdit").on("change", function () {
        var val = $("#ItemTypeEdit option:selected").val();
        if (val == "others") {
            $("#OtherItemTypeEdit").removeAttr("Disabled", "Disabled");
            $("#OtherItemTypeEdit").attr("required", "required");
        }
        else {
            $("#ItemNameEdit").val(val);
            $("#OtherItemTypeEdit").attr("Disabled", "Disabled");
            $("#OtherItemTypeEdit").removeAttr("required", "required");
        }
    });
    $("#unitInput").on("change", function(){
        var val = $("#unitInput option:selected").val();
        if(val != ""){
            $(".btnEditUnitType").removeAttr("Disabled", "Disabled");
        }else {
            $(".btnEditUnitType").attr("Disabled", "Disabled");
        }
    });
   
    $("#updateItem").on("click", function () {
        Swal.fire({
            title: "UPDATE",
            html: "Are you sure you want to update this item?",
            icon: "info",
            showCancelButton: true,
            confirmButtonText: "Yes",
            cancelButtonText: "No",
            closeOnConfirm: false,
            closeOnCancel: true
        }).then((result) => {
            if (result.isConfirmed) {
                var container = $("#SubmitUpdateItemBtnContainer");
                container.empty();
                var btn = "";
                btn += '<button class="btn btn-primary w-100" type="submit" id="updateItemBtn" style="display: none;">Update Item</button>';
                container.html(btn);
                $("#updateItemBtn").click();
                InMainLoader();
            }
        });
    });

    $("#SaveItem").on("click", function () {
        Swal.fire({
            title: "NEW ITEM",
            html: "Are you sure you want to save this item?",
            icon: "info",
            showCancelButton: true,
            confirmButtonText: "Yes",
            cancelButtonText: "No",
            closeOnConfirm: false,
            closeOnCancel: true
        }).then((result) => {
            if (result.isConfirmed) {
                var container = $("#SubmitAddItemBtnContainer");
                container.empty();
                var btn = "";
                btn += '<button class="btn btn-primary w-100" type="submit" id="AddItemBtn" style="display: none;">Save Item</button>';
                container.html(btn);
                $("#AddItemBtn").click();
                InMainLoader();
            }
        });
    });

    $("#pageSel").on("change", function () {
        var val = $("#pageSel option:selected").val();
        $("#pageNumInput").val(val);
        InMainLoader();
        $("form[name=ItemsListForm]").submit();
    });
    $("#firstUrlBtn").on("click", function () {
        var val = $(this).attr("data-page");
        $("#pageNumInput").val(val);
        InMainLoader();
        $("form[name=ItemsListForm]").submit();
    });
    $("#previousUrlBtn").on("click", function () {
        var val = $(this).attr("data-page");
        $("#pageNumInput").val(val);
        InMainLoader();
        $("form[name=ItemsListForm]").submit();
    });
    $("#nextUrlBtn").on("click", function () {
        var val = $(this).attr("data-page");
        $("#pageNumInput").val(val);
        InMainLoader();
        $("form[name=ItemsListForm]").submit();
    });
    $("#lastUrlBtn").on("click", function () {
        var val = $(this).attr("data-page");
        $("#pageNumInput").val(val);
        InMainLoader();
        $("form[name=ItemsListForm]").submit();
    });

    var Supply = "@Model.SupplyTextValue";
    var dateFrom = "@Model.dateStart";
    var dateTo = "@Model.dateEnd";
    var status = "@Model.status";
    var perNum = "@Model.perPage";

    $("#pagenumToDisplaySel").val(perNum);

    $("#statusSel").val(status);

    $("#SupplyFilter").val(Supply);

    if (dateFrom != "" && dateTo != "") {
        $("#dateFrom").val(dateFrom);
        $("#dateTo").val(dateTo);
        $("#dateTo").removeAttr("Disabled", "Disabled");
        $("#dateTo").attr("min", dateFrom);
    }
    $("#dateFrom").on("change", function () {
        var val = $(this).val();
        var dateTo = $("#dateTo").val();
        if (val != "") {
            $("#dateTo").removeAttr("Disabled", "Disabled");
            $("#dateTo").attr("min", val);
        }
        else {
            $("#dateTo").attr("Disabled", "Disabled");
            $("#dateTo").val("");
        }
    });
    $("#pagenumToDisplaySel").on("change", function () {
        var val = $(this).val();
        $("#pageNumPerInput").val(val);
        InMainLoader();
        $("form[name=ItemsListForm]").submit();
    });

    var input = document.getElementById("txtsearch");
    input.addEventListener("keypress", function (event) {
        if (event.key === "Enter") {
             var val = $(this).val();
             $("#searchInputVal").val(val);
            InMainLoader();
            $("form[name=ItemsListForm]").submit();
        }
    });
</script>