<script>
    $(function () {
        $("#ManageItemsLink").addClass("active");
        $("#ItemsLink").addClass("active");
    });

    //DataTable
     $("#itemTbl").DataTable({
        // "ordering": false,
        paging: false,
        "bPaginate": false,
        "bLengthChange": false,
        "bFilter": false,
        "bInfo": false
    });
    //Prevent Enter
    $('#specTypeInput').keydown(function(event){
      if (event.which == '13') {
        event.preventDefault();
        event.stopPropagation();
      }
    });
     $('#ItemTypeInput').keydown(function(event){
      if (event.which == '13') {
        event.preventDefault();
        event.stopPropagation();
      }
    });
     $('#SupplyInput').keydown(function(event){
      if (event.which == '13') {
        event.preventDefault();
        event.stopPropagation();
      }
    });
     $('#itemUnitInput').keydown(function(event){
      if (event.which == '13') {
        event.preventDefault();
        event.stopPropagation();
      }
    });
    
     $('#TypeName').keydown(function(event){
      if (event.which == '13') {
        event.preventDefault();
        event.stopPropagation();
      }
    });
    //BtnLoad
    $(".btn-Edit-Type").on("click", function(){
        InMainLoader();
    });
    $(".btn-Add-Unit-Type").on("click", function(){
        InMainLoader();
    });
    $(".btn-Add-Supply-Type").on("click", function(){
        InMainLoader();
    });
    $(".btn-Add-Item-Type").on("click", function(){
        InMainLoader();
    });
    $(".btn-Add-Specs-Type").on("click", function(){
        InMainLoader();
    });

    //Selects 
    //Select ItemType 
     $("#ItemType").attr("Disabled", "Disabled");

    // Select Supply Type
    $("#SupplyType").on("change", function () {
        var val = $("#SupplyType option:selected").val();
        var name = $("#SupplyType option:selected").text();
        var itemTypeSel = $("#ItemType");
        if (val != "") {
            //Ajax Change Value of select option itemtype
            itemTypeSel.removeAttr("Disabled", "Disabled");
            $.ajax({
                url: "/Item/GetSupplyId",
                method: "Post",
                data: { supplyId: val },
                success: function (result) {
                    itemTypeSel.empty(); //clear the options:
                    var s = "";
                    s += '<option value="">Select Item Type</option>';
                    for (var i = 0; i < result.length; i++) {
                        s += '<option value="' + result[i].id + '">' + result[i].itemType + '</option>';
                    }
                    itemTypeSel.html(s);
                }
            });
            $("#supplyTypeBtn").attr("data-actName", name);
            $("#supplyTypeBtn").attr("data-id", val);
            $("#ItemTypeBtn").attr("data-suppId", val);
            $("#supplyTypeBtn").removeAttr("Disabled", "Disabled");
            $(".btnAddItemType").removeAttr("Disabled", "Disabled");
        }
        else {
            $("#supplyTypeBtn").attr("Disabled", "Disabled");
            $(".btnAddItemType").attr("Disabled", "Disabled");
            $("#ItemTypeBtn").attr("Disabled", "Disabled");
            itemTypeSel.val("");
            itemTypeSel.attr("Disabled", "Disabled");
        }
    });

    //Select Item Type
    $("#ItemType").on("change", function () {
        var val = $("#ItemType option:selected").val();
        var name = $("#ItemType option:selected").text();
        $("#ItemName").val(val);
        if (val != "") {
             $("#ItemTypeBtn").attr("data-id", val);
             $("#ItemTypeBtn").attr("data-actName", name);
             $("#ItemTypeBtn").removeAttr("Disabled", "Disabled");
        }
        else {
            $("#ItemTypeBtn").attr("Disabled", "Disabled");
        }
    });
    
    //Select Unit Type
    $("#unitSel").on("change", function () {
        var val = $("#unitSel option:selected").val();
        var name = $("#unitSel option:selected").text();
        if (val != "") {
             $("#UnitTypeBtn").attr("data-id", val);
             $("#UnitTypeBtn").attr("data-actName", name);
             $("#UnitTypeBtn").removeAttr("Disabled", "Disabled");
        }
        else {
            $("#UnitTypeBtn").attr("Disabled", "Disabled");
        }
    });

     //Select Edit Supply Type
    $("#SupplyTypeEdit").on("change", function () {
        var val = $("#SupplyTypeEdit option:selected").val();
        var name = $("#SupplyTypeEdit option:selected").text();
        var itemTypeSel = $("#ItemTypeEdit");
        if (val != "") {
            itemTypeSel.removeAttr("Disabled", "Disabled");
             $.ajax({
                url: "/Item/GetSupplyId",
                method: "Post",
                data: { supplyId: val },
                success: function (result) {
                    itemTypeSel.empty();
                    var s = "";
                    s += '<option value="">Select Item Type</option>';
                    for (var i = 0; i < result.length; i++) {
                        s += '<option value="' + result[i].id + '">' + result[i].itemType + '</option>';
                    }
                    itemTypeSel.html(s);
                }
            });
            $("#supplyTypeBtnEdit").attr("data-actName", name);
            $("#supplyTypeBtnEdit").attr("data-id", val);
            $("#ItemTypeBtnEdit").attr("data-suppId", val);
            $("#supplyTypeBtnEdit").removeAttr("Disabled", "Disabled");
            $(".btnAddItemTypeEdit").removeAttr("Disabled", "Disabled");
        }
        else {
            $("#supplyTypeBtnEdit").attr("Disabled", "Disabled");
            $(".btnAddItemTypeEdit").attr("Disabled", "Disabled");
            $("#ItemTypeBtnEdit").attr("Disabled", "Disabled");
            itemTypeSel.val("");
            itemTypeSel.attr("Disabled", "Disabled");
        }
       
    });

    //Select Edit Item Type
    $("#ItemTypeEdit").on("change", function () {
        var val = $("#ItemTypeEdit option:selected").val();
        var name = $("#ItemTypeEdit option:selected").text();
        $("#ItemName").val(val);
        if (val != "") {
             $("#ItemTypeBtnEdit").attr("data-id", val);
             $("#ItemTypeBtnEdit").attr("data-actName", name);
             $("#ItemTypeBtnEdit").removeAttr("Disabled", "Disabled");
        }
        else {
            $("#ItemTypeBtnEdit").attr("Disabled", "Disabled");
        }
    });

    //Select Edit Unit Type
    $("#unitSelEdit").on("change", function () {
        var val = $("#unitSelEdit option:selected").val();
        var name = $("#unitSelEdit option:selected").text();
        if (val != "") {
             $("#UnitTypeBtnEdit").attr("data-id", val);
             $("#UnitTypeBtnEdit").attr("data-actName", name);
             $("#UnitTypeBtnEdit").removeAttr("Disabled", "Disabled");
        }
        else {
            $("#UnitTypeBtnEdit").attr("Disabled", "Disabled");
        }
    });

    //Btn Edit All Type
    $(".btnEditType").on("click", function(){
        var action = $(this).attr("data-type");
        var id = $(this).attr("data-id");
        var name = $(this).attr("data-actName");
        var supplyName = $(this).attr("data-suppId");
        $("form[name=editTypeForm]")[0].reset();
        $(".title-type").text(action);
        $("#action").val(action);
        $("#TypeIdInput").val(id);
        $("#TypeName").val(name);
        $("#supplyIdInput").val(supplyName);
        $("#modal-add-item").modal("hide");
        $("#modal-edit-type").modal("show");
    });

    //Btn Edit Item Edit All Type
    $(".btnEditTypeEdit").on("click", function(){
        var action = $(this).attr("data-type");
        var id = $(this).attr("data-id");
        var name = $(this).attr("data-actName");
        var supplyName = $(this).attr("data-suppId");
        $("form[name=editTypeForm]")[0].reset();
        $(".title-type").text(action);
        $("#action").val(action);
        $("#TypeIdInput").val(id);
        $("#TypeName").val(name);
        $("#supplyIdInput").val(supplyName);
        $("#modal-edit-item").modal("hide");
        $("#modal-edit-type").modal("show");
    });

    function formEditType(){
        $(".btnEditType").on("click", function(){
            var action = $(this).attr("data-type");
            var id = $(this).attr("data-id");
            var name = $(this).attr("data-actName");
            var supplyName = $(this).attr("data-suppId");
            $(".title-type").text(action);
            $("#action").val(action);
            $("#TypeIdInput").val(id);
            $("#TypeName").val(name);
            $("#supplyIdInput").val(supplyName);
            $("#modal-add-item").modal("hide");
            $("#modal-edit-type").modal("show");
        });
         $(".btnEditTypeEdit").on("click", function(){
            var action = $(this).attr("data-type");
            var id = $(this).attr("data-id");
            var name = $(this).attr("data-actName");
            var supplyName = $(this).attr("data-suppId");
            $("form[name=editTypeForm]")[0].reset();
            $(".title-type").text(action);
            $("#action").val(action);
            $("#TypeIdInput").val(id);
            $("#TypeName").val(name);
            $("#supplyIdInput").val(supplyName);
            $("#modal-edit-item").modal("hide");
            $("#modal-edit-type").modal("show");
        });
    }

    $(".newItemAdd").on("click", function(){
        $("form[name=addItemForm]")[0].reset();
        $(".dataInput").val("");
    });

    $(".btnViewItem").on("click", function () {
        var Id = $(this).attr("data-itemId");
        var itemCode = $(this).attr("data-ItemCode");
        var itemUnit = $(this).attr("data-UnitId");
        var itemType = $(this).attr("data-TypeId");
        var itemQuantity = $(this).attr("data-Quantity");
        var itemSupplyId = $(this).attr("data-supplyId");

        $("#ItemIdEdit").val(Id);
        $("#CodeNameEdit").val(itemCode);
        $("#ItemNameEdit").val(itemType);
        $("#SupplyTypeEdit").val(itemSupplyId);
        $("#QuantityEdit").val(itemQuantity);
        $("#unitSelEdit").val(itemUnit);
        
        $(".checkboxValueEdit").attr('checked', false);
        $(".editValueof").val("");
        $(".inputEditSpecs").val("");
        $(".inputEditSpecs").removeAttr("Required", "Required");
        $(".inputEditSpecs").attr("Disabled", "Disabled");

        $(".dataInput").val("edit");

        var supplyName = $("#SupplyTypeEdit option:selected").text();
        $("#supplyTypeBtnEdit").attr("data-actName", supplyName);
        $("#supplyTypeBtnEdit").attr("data-id", itemSupplyId);
        $("#ItemTypeBtnEdit").attr("data-suppId", itemSupplyId);
        $("#supplyTypeBtnEdit").removeAttr("Disabled", "Disabled");
        $(".btnAddItemTypeEdit").removeAttr("Disabled", "Disabled");

        var unitName = $("#unitSelEdit option:selected").text();
         $("#UnitTypeBtnEdit").attr("data-id", itemUnit);
         $("#UnitTypeBtnEdit").attr("data-actName", unitName);
         $("#UnitTypeBtnEdit").removeAttr("Disabled", "Disabled");
        InMainLoader();
        var itemTypeSel = $("#ItemTypeEdit");
        $.ajax({
            url: "/Item/GetSupplyId",
            method: "Post",
            data: { supplyId: itemSupplyId },
            success: function (result) {
                itemTypeSel.empty(); //clear the options:
                var s = "";
                s += '<option value="">Select Item Type</option>';
                for (var i = 0; i < result.length; i++) {
                    s += '<option value="' + result[i].id + '">' + result[i].itemType + '</option>';
                }
                itemTypeSel.html(s);
                itemTypeSel.val(itemType);
                var ItemTypeName = $("#ItemTypeEdit option:selected").text();
                 $("#ItemTypeBtnEdit").attr("data-id", itemType);
                 $("#ItemTypeBtnEdit").attr("data-actName", ItemTypeName);
                 $("#ItemTypeBtnEdit").removeAttr("Disabled", "Disabled");
            }
        });

        $.ajax({
            url: "/Item/GetSpecs",
            method: "Post",
            data: { ItemId: Id },
            success: function (result) {
                for (var i = 0; i < result.length; i++) {
                    $("#Edit_" + result[i].itemSpecValue.itemSpecType.id).attr('checked', true);
                    $("#EditInput_" + result[i].itemSpecValue.itemSpecType.itemSpecType).removeAttr("Disabled", "Disabled");
                    $("#EditInput_" + result[i].itemSpecValue.itemSpecType.itemSpecType).attr("Required", "Required");
                    $("#EditInput_" + result[i].itemSpecValue.itemSpecType.itemSpecType).val(result[i].itemSpecValue.itemSpecValue);
                    $("#EditValueof_" + result[i].itemSpecValue.itemSpecType.itemSpecType).val(result[i].itemSpecValue.itemSpecType.id + "," + result[i].itemSpecValue.itemSpecValue)
                    $(".inputEditSpecs").on("change", function () {
                        var Value = $(this).val();
                        var dataValue = $(this).attr("data-value");
                        var Id = $("#EditIDof_" + dataValue).val();
                        $("#EditValueof_" + dataValue).val(Id + "," + Value);
                    });
                }

                OutMainLoader();
                $("#modal-edit-item").modal("show");
            }
        });
    });

    //Btn Add Supply Type
    $(".btnAddSupplyType").on("click", function(){
        $("#modal-add-item").modal("hide");
        $("#modal-add-supply").modal("show");
    });
     //Btn Add Supply Type Edit
    $(".btnAddSupplyTypeEdit").on("click", function(){
        $("#modal-edit-item").modal("hide");
        $("#modal-add-supply").modal("show");
    });

    //Btn Add Item Type
    $(".btnAddItemType").on("click", function(){
        var val = $("#SupplyType option:selected").val();
        $("#supplyIdAdd").val(val);
        $("#modal-add-item").modal("hide");
        $("#modal-add-itemtype").modal("show");
    });
    //Btn Add Item Type Edit
    $(".btnAddItemTypeEdit").on("click", function(){
        var val = $("#SupplyTypeEdit option:selected").val();
        $("#supplyIdAdd").val(val);
        $("#modal-edit-item").modal("hide");
        $("#modal-add-itemtype").modal("show");
    });

    //Btn Add Unit Type
    $(".btnAddUnitType").on("click", function(){
        $("#modal-add-item").modal("hide");
        $("#modal-add-unit").modal("show");
    }); 
    //Btn Add Unit Type Edit
    $(".btnAddUnitTypeEdit").on("click", function(){
        $("#modal-edit-item").modal("hide");
        $("#modal-add-unit").modal("show");
    });

    //Btn Add Description Type
    $(".btnAddSpecsType").on("click", function(){
        $("#modal-add-item").modal("hide");
        $("#modal-add-specs").modal("show");
    }); 
    //Btn Add Description Type Edit
    $(".btnAddSpecsTypeEdit").on("click", function(){
        $("#modal-edit-item").modal("hide");
        $("#modal-add-specs").modal("show");
    });

    //Btn Cancel
    $(".btnCancelAdd").on("click", function(){
        var val = $(".dataInput").val();
        if(val != ""){
            $("#modal-edit-item").modal("show");
        }
        else {
            $("#modal-add-item").modal("show");
        }
    });

    //Edit All Type
    $("form[name=editTypeForm]").on("submit", function(event){
        event.preventDefault();

        var form = new FormData(this);
        var val = $("#action").val();
        var dataInput = $(".dataInput").val();
        $.ajax({
            url: "/Item/ActionEditType",
            method: "Post",
            data: form,
            contentType: false,
            cache: false,
            processData: false,
            success: function(data) {
                if(data != "0" && data != "1"){
                    $("form[name=editTypeForm]")[0].reset();
                    if(val == "Supply Type"){
                        var id = data.id;
                        var Name = data.supplyName
                        //Add View
                        $("#SupplyType option[value=" + id +"]").text(Name);
                        //Edit View
                        $("#SupplyTypeEdit option[value=" + id +"]").text(Name);
                        $("#modal-edit-type").modal("hide");
                        OutMainLoader();
                         Swal.fire({
                            title: "SUCCESS",
                            html: "Save changes successfull",
                            icon: "success",
                            allowOutsideClick: false,
                            allowEscapeKey: false,
                            showCancelButton: false,
                            confirmButtonText: "Okay",
                            closeOnConfirm: false,
                            closeOnCancel: false,
                        }).then((result) => {
                            if (result.isConfirmed) {
                                //Add View
                                $("#supplyTypeBtn").attr("data-actName", Name);
                                //Edit View
                                $("#supplyTypeBtnEdit").attr("data-actName", Name);

                                if(dataInput != ""){
                                    $("#modal-edit-item").modal("show");
                                }
                                else {
                                    $("#modal-add-item").modal("show");
                                }
                            }
                        });
                    }
                    else if(val == "Item Type"){
                        var id = data.id;
                        var Name = data.itemType;
                        //Add View
                        $("#ItemType option[value=" + id +"]").text(Name);
                         //Edit View
                        $("#ItemTypeEdit option[value=" + id +"]").text(Name);
                        $("#modal-edit-type").modal("hide");
                        OutMainLoader();
                         Swal.fire({
                            title: "SUCCESS",
                            html: "Save changes successfull",
                            icon: "success",
                            allowOutsideClick: false,
                            allowEscapeKey: false,
                            showCancelButton: false,
                            confirmButtonText: "Okay",
                            closeOnConfirm: false,
                            closeOnCancel: false,
                        }).then((result) => {
                            if (result.isConfirmed) {
                                //Add View
                                $("#ItemTypeBtn").attr("data-actName", Name);
                                //Edit View
                                $("#ItemTypeBtnEdit").attr("data-actName", Name);
                                if(dataInput != ""){
                                    $("#modal-edit-item").modal("show");
                                }
                                else {
                                    $("#modal-add-item").modal("show");
                                }
                            }
                        });
                    }
                    else if(val == "Unit Type"){
                        var id = data.id;
                        var Name = data.unitName;
                        //Add View
                        $("#unitSel option[value=" + id +"]").text(Name);
                        //Edit View
                        $("#unitSelEdit option[value=" + id +"]").text(Name);
                        $("#modal-edit-type").modal("hide");
                        OutMainLoader();
                        Swal.fire({
                            title: "SUCCESS",
                            html: "Save changes successfull",
                            icon: "success",
                            allowOutsideClick: false,
                            allowEscapeKey: false,
                            showCancelButton: false,
                            confirmButtonText: "Okay",
                            closeOnConfirm: false,
                            closeOnCancel: false,
                        }).then((result) => {
                            if (result.isConfirmed) {
                                //Add View
                                $("#UnitTypeBtn").attr("data-actName", Name);
                                //Edit View
                                $("#UnitTypeBtnEdit").attr("data-actName", Name);
                                if(dataInput != ""){
                                    $("#modal-edit-item").modal("show");
                                }
                                else {
                                    $("#modal-add-item").modal("show");
                                }
                            }
                        });
                    }
                    else if(val == "Description Type"){
                        var id = data.id;
                        var Name = data.itemSpecType;
                        //Add View
                        $("#label_"+id).text(Name);
                        $("#"+id).attr("data-actName", Name);
                        //Edit View
                        $("#Editlabel_"+id).text(Name);
                        $("#EditBtn_"+id).attr("data-actName", Name);
                        $("#modal-edit-type").modal("hide");
                        OutMainLoader();
                        Swal.fire({
                            title: "SUCCESS",
                            html: "Save changes successfull",
                            icon: "success",
                            allowOutsideClick: false,
                            allowEscapeKey: false,
                            showCancelButton: false,
                            confirmButtonText: "Okay",
                            closeOnConfirm: false,
                            closeOnCancel: false,
                        }).then((result) => {
                            if (result.isConfirmed) {
                                if(dataInput != ""){
                                    $("#modal-edit-item").modal("show");
                                }
                                else {
                                    $("#modal-add-item").modal("show");
                                }
                            }
                        });
                    }
                }
                else if (data == "1"){
                    OutMainLoader();
                     Swal.fire({
                        title: "NO CHANGES",
                        html: "no current changes applied",
                        icon: "info",
                        allowOutsideClick: false,
                        allowEscapeKey: false,
                        showCancelButton: false,
                        confirmButtonText: "Okay",
                        closeOnConfirm: false,
                        closeOnCancel: false,
                    });
                }
                else {
                    OutMainLoader();
                }
            }
        })
    });

    //Form Specs Type
    $("form[name=addspecsForm]").on("submit", function(event){
        event.preventDefault();

        var form = new FormData(this);
        var dataInput = $(".dataInput").val();
        $.ajax({
            url: "/Item/_AddSpecType",
            method: "Post",
            data: form,
            contentType: false,
            cache: false,
            processData: false,
            success: function(data) {
                if(data != "0"){
                    var afterHtml = "";
                    for (var i = 0; i < data.length; i++) {
                        var row = null;
                        if(dataInput != ""){
                           row = document.getElementById("Rowfor_" + data[i].itemSpecType + ' _ ' + data[i].id);
                        }
                        else {
                           row = document.getElementById(data[i].itemSpecType + ' _ ' + data[i].id);
                        }
                        if(row == null){
                            var Id = data[i].id;
                            var type = data[i].itemSpecType;
                            AddCheckBoxSpecs(type, Id, afterHtml);
                        }
                        else {
                            if(dataInput != ""){
                                afterHtml = "Rowfor_" + data[i].itemSpecType + ' _ ' + data[i].id;
                            }
                            else {
                                afterHtml = data[i].itemSpecType + ' _ ' + data[i].id;
                            }
                        }
                    }
                    $("#modal-add-specs").modal("hide");
                    $("form[name=addspecsForm]")[0].reset();
                    OutMainLoader();
                    Swal.fire({
                        title: "SUCCESS",
                        html: "Description type successfully Added",
                        icon: "success",
                        allowOutsideClick: false,
                        allowEscapeKey: false,
                        showCancelButton: false,
                        confirmButtonText: "Okay",
                        closeOnConfirm: false,
                        closeOnCancel: false,
                    }).then((result) => {
                        if (result.isConfirmed) {
                            if(dataInput != ""){
                                $("#modal-edit-item").modal("show");
                            }
                            else {
                                $("#modal-add-item").modal("show");
                            }
                        }
                    });
                    
                }else {
                    OutMainLoader();
                }
            }
        });
    });


    function AddCheckBoxSpecs(type, Id, afterHtml){
        var dataInput = $(".dataInput").val();
        var html = "";
          if(dataInput != ""){
               html = '<div class="form-group" id="Rowfor_'+ type + ' _ ' + Id +'">'
                    + '<div class="hstack gap-2">'
                    + '<label id="Editlabel_'+ Id +'" for="' + type +'">' + type + '</label>'
                    + '<a href="javascript:;" class="text-secondary pb-2 btnEditType" id="EditBtn_' + Id + '" data-actName="' + type + '"  data-id="'+ Id +'" data-type="Description Type">'
                    + '<i class="ri-lg ri-pencil-fill"></i> Edit'
                    + '</a>'
                    + '</div>'
                    + '<div class="hstack gap-2">'
                    + '<div class="input-group">'
                    + '<div class="input-group-text">'
                    + '<input type="checkbox" id="" class="form-check-input checkboxValueEdit" value="' + type + '" required>'
                    + '</div>'
                    + '<input class="form-control" id="EditValueof_' + type + '" name="NewItemSpecs" value="" type="hidden" />'
                    + '<input class="form-control" id="EditIDof_' + type + '" value="' + Id + '" type="hidden" />'
                    + '<input class="form-control inputEditSpecs" id="EditInput_' + type + '" type="text" data-value="' + type + '" disabled autocomplete="off">'
                    + '</div>'
                    + '</div>'
                    + '</div>';
          }
          else {
               html = '<div class="form-group" id="'+ type + ' _ ' + Id +'">'
                    + '<div class="hstack gap-2">'
                    + '<label id="label_'+ Id +'" for="' + type +'">' + type + '</label>'
                    + '<a href="javascript:;" class="text-secondary pb-2 btnEditType" id="' + Id + '" data-actName="' + type + '"  data-id="'+ Id +'" data-type="Description Type">'
                    + '<i class="ri-lg ri-pencil-fill"></i> Edit'
                    + '</a>'
                    + '</div>'
                    + '<div class="hstack gap-2">'
                    + '<div class="input-group">'
                    + '<div class="input-group-text">'
                    + '<input type="checkbox" id="" class="form-check-input checkboxValue" value="' + type + '" required>'
                    + '</div>'
                    + '<input class="form-control" id="Valueof_' + type + '" name="NewItemSpecs" value="" type="hidden" />'
                    + '<input class="form-control" id="IDof_' + type + '" value="' + Id + '" type="hidden" />'
                    + '<input class="form-control" id="' + type + '" type="text" disabled autocomplete="off">'
                    + '</div>'
                    + '</div>'
                    + '</div>';
          }
          var toInsertAfter = document.getElementById(afterHtml);
          $(html).insertAfter(toInsertAfter);
          fncCheckBoxVal();
          fncCheckBoxValEdit();
          formEditType();
    }

    //Form Unit Type
    $("form[name=AddUnitForm]").on("submit", function(event){
        event.preventDefault();

        var form = new FormData(this);
        var dataInput = $(".dataInput").val();
        var UnitSel = null;
        if(dataInput != ""){
            UnitSel = $("#unitSelEdit");
        }
        else {
             UnitSel = $("#unitSel");
        }
        var val = $("#itemUnitInput").val();
        $.ajax({
            url: "/Item/_AddUnitType",
            method: "Post",
            data: form,
            contentType: false,
            cache: false,
            processData: false,
            success: function(data) {
                if(data != 0){
                    UnitSel.empty();
                    var s = "";
                    s += '<option value="">Select Item Unit</option>';
                    for (var i = 0; i < data.length; i++) {
                        s += '<option value="' + data[i].id + '">' + data[i].unitName + '</option>';
                    }
                    UnitSel.html(s);
                    var newUnitType = null;
                    if(dataInput != ""){
                        newUnitType = $("#unitSelEdit option:contains("+ val +")").val();
                    }
                    else {
                        newUnitType = $("#unitSel option:contains("+ val +")").val();
                    }
                    
                    $("form[name=AddUnitForm]")[0].reset();
                    $("#modal-add-unit").modal("hide");
                    OutMainLoader();
                    Swal.fire({
                        title: "SUCCESS",
                        html: "Unit type successfully Added",
                        icon: "success",
                        allowOutsideClick: false,
                        allowEscapeKey: false,
                        showCancelButton: false,
                        confirmButtonText: "Okay",
                        closeOnConfirm: false,
                        closeOnCancel: false,
                    }).then((result) => {
                        if (result.isConfirmed) {
                            if(dataInput != ""){
                                $("#unitSelEdit").val(newUnitType);
                                $("#UnitTypeBtnEdit").attr("data-id", newUnitType);
                                $("#UnitTypeBtnEdit").attr("data-actName", val);
                                $("#UnitTypeBtnEdit").removeAttr("Disabled", "Disabled");
                                $("#modal-edit-item").modal("show");
                            }
                            else {
                                $("#unitSel").val(newUnitType);
                                $("#UnitTypeBtn").attr("data-id", newUnitType);
                                $("#UnitTypeBtn").attr("data-actName", val);
                                $("#UnitTypeBtn").removeAttr("Disabled", "Disabled");
                                $("#modal-add-item").modal("show");
                            }
                            
                        }
                    });
                }
            }
        });
    });

    //Form Item Type
    $("form[name=AddItemTypeForm]").on("submit", function(event){
        event.preventDefault();

        var form = new FormData(this);
        var dataInput = $(".dataInput").val();
        var itemTypeSel = null;
        if(dataInput != ""){
            itemTypeSel = $("#ItemTypeEdit");
        }
        else {
            itemTypeSel = $("#ItemType");
        }
        var val = $("#ItemTypeInput").val();
        $.ajax({
            url: "/Item/_AddItemType",
            method: "Post",
            data: form,
            contentType: false,
            cache: false,
            processData: false,
            success: function(data) {
                if(data != "0"){
                    itemTypeSel.empty();
                    var s = "";
                    s += '<option value="">Select Item Type</option>';
                    for (var i = 0; i < data.length; i++) {
                        s += '<option value="' + data[i].id + '">' + data[i].itemType + '</option>';
                    }
                    itemTypeSel.html(s);
                    var newItemType = null;
                    if(dataInput != ""){
                        newItemType = $("#ItemTypeEdit option:contains("+ val +")").val();
                    }
                    else {
                        newItemType = $("#ItemType option:contains("+ val +")").val();
                    }
                    $("form[name=AddItemTypeForm]")[0].reset();
                    $("#modal-add-itemtype").modal("hide");
                    OutMainLoader();
                    Swal.fire({
                        title: "SUCCESS",
                        html: "Item type successfully Added",
                        icon: "success",
                        allowOutsideClick: false,
                        allowEscapeKey: false,
                        showCancelButton: false,
                        confirmButtonText: "Okay",
                        closeOnConfirm: false,
                        closeOnCancel: false,
                    }).then((result) => {
                        if (result.isConfirmed) {
                            if(dataInput != ""){
                                $("#ItemNameEdit").val(newItemType);
                                $("#ItemTypeEdit").val(newItemType);
                                $("#ItemTypeBtnEdit").attr("data-id", newItemType);
                                $("#ItemTypeBtnEdit").attr("data-actName", val);
                                $("#ItemTypeBtnEdit").removeAttr("Disabled", "Disabled");
                                $("#modal-edit-item").modal("show");
                            }
                            else {
                                $("#ItemName").val(newItemType);
                                $("#ItemType").val(newItemType);
                                $("#ItemTypeBtn").attr("data-id", newItemType);
                                $("#ItemTypeBtn").attr("data-actName", val);
                                $("#ItemTypeBtn").removeAttr("Disabled", "Disabled");
                                $("#modal-add-item").modal("show");
                            } 
                        }
                    });

                }
            }
        });
    });

    //Form Supply Type
    $("form[name=AddSupplyForm]").on("submit", function(event){
        event.preventDefault();

        var form = new FormData(this);
         var dataInput = $(".dataInput").val();
        var SupplySel = null;
        if(dataInput != ""){
            SupplySel = $("#SupplyTypeEdit");
        }
        else {
            SupplySel = $("#SupplyType");
        }
        var val = $("#SupplyInput").val();
        $.ajax({
            url: "/Item/_AddSupply",
            method: "Post",
            data: form,
            contentType: false,
            cache: false,
            processData: false,
            success: function(data) {
                if(data != "0"){
                    $("#modal-add-supply").modal("hide");
                    console.log(data);
                    SupplySel.empty();
                    var s = "<option value=''>Select Supply Type</option>";
                    for(var i = 0; i < data.length; i++){
                        s += '<option value="'+ data[i].id + '">'+ data[i].supplyName + '</option>';
                    }
                    SupplySel.html(s);
                     var newSupply = null;
                     if(dataInput != ""){
                         newSupply = $("#SupplyTypeEdit option:contains("+ val +")").val();
                     }
                     else {
                         newSupply = $("#SupplyType option:contains("+ val +")").val();
                     }
                   
                    $("form[name=AddSupplyForm]")[0].reset();
                    OutMainLoader();
                     Swal.fire({
                        title: "SUCCESS",
                        html: "Supply type successfully Added",
                        icon: "success",
                        allowOutsideClick: false,
                        allowEscapeKey: false,
                        showCancelButton: false,
                        confirmButtonText: "Okay",
                        closeOnConfirm: false,
                        closeOnCancel: false,
                    }).then((result) => {
                        if (result.isConfirmed) {
                            var itemTypeSel = null;
                            
                            if(dataInput != ""){
                                itemTypeSel = $("#ItemTypeEdit");
                            }
                            else {
                                itemTypeSel = $("#ItemType");
                            }
                            itemTypeSel.removeAttr("Disabled", "Disabled");
                            $.ajax({
                                url: "/Item/GetSupplyId",
                                method: "Post",
                                data: { supplyId: newSupply },
                                success: function (result) {
                                    itemTypeSel.empty(); //clear the options:
                                    var s = "";
                                    s += '<option value="">Select Item Type</option>';
                                    for (var i = 0; i < result.length; i++) {
                                        s += '<option value="' + result[i].id + '">' + result[i].itemType + '</option>';
                                    }
                                    itemTypeSel.html(s);
                                }
                            });
                           if(dataInput != ""){
                                $("#supplyTypeBtnEdit").attr("data-id", newSupply);
                                $("#supplyTypeBtnEdit").attr("data-actName", val);
                                $("#ItemTypeBtnEdit").attr("data-suppId", newSupply);
                                $("#supplyTypeBtnEdit").removeAttr("Disabled", "Disabled");
                                $(".btnAddItemTypeEdit").removeAttr("Disabled", "Disabled");
                                $("#SupplyTypeEdit").val(newSupply);
                                $("#modal-edit-item").modal("show");
                           }else {
                                $("#supplyTypeBtn").attr("data-id", newSupply);
                                $("#supplyTypeBtn").attr("data-actName", val);
                                $("#ItemTypeBtn").attr("data-suppId", newSupply);
                                $("#supplyTypeBtn").removeAttr("Disabled", "Disabled");
                                $(".btnAddItemType").removeAttr("Disabled", "Disabled");
                                $("#SupplyType").val(newSupply);
                                $("#modal-add-item").modal("show");
                           }
                        }
                    });
                    
                }
            }
        });
    });

    $("#ItemNameEdit").on("input", function () {
        var val = $(this).val();
        var WithoutVowels = removeVowels(val);
        $("#CodeNameEdit").val(WithoutVowels);
    });

    $(".btndisableItem").on("click", function () {
        InMainLoader();
    });
    $(".btndeleteItem").on("click", function () {
        InMainLoader();
    });
    $(".btnenableItem").on("click", function () {
        InMainLoader();
    });
    $(".btnDeactivate").on("click", function () {
        var val = $(this).attr("data-itemId");
        $("#ItemIdDeactivate").val(val);
        $("#modal-item-deactivate").modal("show");
    });
    $(".btnActivate").on("click", function () {
        var val = $(this).attr("data-itemId");
        $("#ItemIdActivate").val(val);
        $("#modal-item-activate").modal("show");
    });
    $(".btnDeleteItem").on("click", function () {
        var val = $(this).attr("data-itemId");
        $("#ItemIdDelete").val(val);
        $("#modal-delete-item").modal("show");
    });

    $(".checkboxValue").on("click", function () {
        var thisValue = $(this).val();
        if (this.checked) {
            $("#" + thisValue).removeAttr("Disabled", "Disabled");
            $("#" + thisValue).attr("Required", "Required");
            $("#" + thisValue).on("change", function () {
                var Value = $(this).val();
                var Id = $("#IDof_" + thisValue).val();
                $("#Valueof_" + thisValue).val(Id + "," + Value);
            });
        } else if (!this.checked) {
            $("#" + thisValue).attr("Disabled", "Disabled");
            $("#" + thisValue).removeAttr("Required", "Required");
            $("#Valueof_" + thisValue).val("");
            $("#" + thisValue).val("");
        }
    });
    function fncCheckBoxValEdit(){
    $(".checkboxValueEdit").on("click", function () {
        var thisValue = $(this).val();
        if (this.checked) {
            $("#EditInput_" + thisValue).removeAttr("Disabled", "Disabled");
            $("#EditInput_" + thisValue).attr("Required", "Required");
            $("#EditInput_" + thisValue).on("change", function () {
                var Value = $(this).val();
                var Id = $("#EditIDof_" + thisValue).val();
                $("#EditValueof_" + thisValue).val(Id + "," + Value);
            });
        } else if (!this.checked) {
            $("#EditInput_" + thisValue).attr("Disabled", "Disabled");
            $("#EditInput_" + thisValue).removeAttr("Required", "Required");
            $("#EditValueof_" + thisValue).val("");
            $("#EditInput_" + thisValue).val("");
        }
    });
    }
    function fncCheckBoxVal(){
        $(".checkboxValue").on("click", function () {
            var thisValue = $(this).val();
            if (this.checked) {
                $("#" + thisValue).removeAttr("Disabled", "Disabled");
                $("#" + thisValue).attr("Required", "Required");
                $("#" + thisValue).on("change", function () {
                    var Value = $(this).val();
                    var Id = $("#IDof_" + thisValue).val();
                    $("#Valueof_" + thisValue).val(Id + "," + Value);
                });
            } else if (!this.checked) {
                $("#" + thisValue).attr("Disabled", "Disabled");
                $("#" + thisValue).removeAttr("Required", "Required");
                $("#Valueof_" + thisValue).val("");
                $("#" + thisValue).val("");
            }

        });
    }

    $(".checkboxValueEdit").on("click", function () {
        var thisValue = $(this).val();
        if (this.checked) {
            $("#EditInput_" + thisValue).removeAttr("Disabled", "Disabled");
            $("#EditInput_" + thisValue).attr("Required", "Required");
            $("#EditInput_" + thisValue).on("change", function () {
                var Value = $(this).val();
                var Id = $("#EditIDof_" + thisValue).val();
                $("#EditValueof_" + thisValue).val(Id + "," + Value);
            });
        } else if (!this.checked) {
            $("#EditInput_" + thisValue).attr("Disabled", "Disabled");
            $("#EditInput_" + thisValue).removeAttr("Required", "Required");
            $("#EditValueof_" + thisValue).val("");
            $("#EditInput_" + thisValue).val("");
        }
    });
   
    $("#updateItem").on("click", function () {
        Swal.fire({
            title: "UPDATE",
            html: "Are you sure you want to update this item?",
            icon: "info",
            showCancelButton: true,
            confirmButtonText: "Yes",
            cancelButtonText: "No",
            closeOnConfirm: false,
            closeOnCancel: true
        }).then((result) => {
            if (result.isConfirmed) {
                var container = $("#SubmitUpdateItemBtnContainer");
                container.empty();
                var btn = "";
                btn += '<button class="btn btn-primary w-100" type="submit" id="updateItemBtn" style="display: none;">Update Item</button>';
                container.html(btn);
                $("#updateItemBtn").click();
                InMainLoader();
            }
        });
    });

    $("#SaveItem").on("click", function () {
        Swal.fire({
            title: "NEW ITEM",
            html: "Are you sure you want to save this item?",
            icon: "info",
            showCancelButton: true,
            confirmButtonText: "Yes",
            cancelButtonText: "No",
            closeOnConfirm: false,
            closeOnCancel: true
        }).then((result) => {
            if (result.isConfirmed) {
                var container = $("#SubmitAddItemBtnContainer");
                container.empty();
                var btn = "";
                btn += '<button class="btn btn-primary w-100" type="submit" id="AddItemBtn" style="display: none;">Save Item</button>';
                container.html(btn);
                $("#AddItemBtn").click();
                InMainLoader();
            }
        });
    });

    $("#pageSel").on("change", function () {
        var val = $("#pageSel option:selected").val();
        $("#pageNumInput").val(val);
        InMainLoader();
        $("form[name=ItemsListForm]").submit();
    });
    $("#firstUrlBtn").on("click", function () {
        var val = $(this).attr("data-page");
        $("#pageNumInput").val(val);
        InMainLoader();
        $("form[name=ItemsListForm]").submit();
    });
    $("#previousUrlBtn").on("click", function () {
        var val = $(this).attr("data-page");
        $("#pageNumInput").val(val);
        InMainLoader();
        $("form[name=ItemsListForm]").submit();
    });
    $("#nextUrlBtn").on("click", function () {
        var val = $(this).attr("data-page");
        $("#pageNumInput").val(val);
        InMainLoader();
        $("form[name=ItemsListForm]").submit();
    });
    $("#lastUrlBtn").on("click", function () {
        var val = $(this).attr("data-page");
        $("#pageNumInput").val(val);
        InMainLoader();
        $("form[name=ItemsListForm]").submit();
    });

    var Supply = "@Model.SupplyTextValue";
    var dateFrom = "@Model.dateStart";
    var dateTo = "@Model.dateEnd";
    var status = "@Model.status";
    var perNum = "@Model.perPage";

    $("#pagenumToDisplaySel").val(perNum);

    $("#statusSel").val(status);

    $("#SupplyFilter").val(Supply);

    if (dateFrom != "" && dateTo != "") {
        $("#dateFrom").val(dateFrom);
        $("#dateTo").val(dateTo);
        $("#dateTo").removeAttr("Disabled", "Disabled");
        $("#dateTo").attr("min", dateFrom);
    }
    $("#dateFrom").on("change", function () {
        var val = $(this).val();
        var dateTo = $("#dateTo").val();
        if (val != "") {
            $("#dateTo").removeAttr("Disabled", "Disabled");
            $("#dateTo").attr("min", val);
        }
        else {
            $("#dateTo").attr("Disabled", "Disabled");
            $("#dateTo").val("");
        }
    });
    $("#pagenumToDisplaySel").on("change", function () {
        var val = $(this).val();
        $("#pageNumPerInput").val(val);
        InMainLoader();
        $("form[name=ItemsListForm]").submit();
    });

    var input = document.getElementById("txtsearch");
    input.addEventListener("keypress", function (event) {
        if (event.key === "Enter") {
             var val = $(this).val();
             $("#searchInputVal").val(val);
            InMainLoader();
            $("form[name=ItemsListForm]").submit();
        }
    });
</script>