@using IIMSv1.Models.Shared
@using IIMSv1.Models
@model _ItemInputModel

@{
    var Path = Context.Request.Path;
    var QueryStrings = Context.Request.QueryString;
    var returnURl = Path + QueryStrings;
}
<form asp-action="_AddItem" asp-controller="Item" name="addItemForm">
    <div id="modal-add-item" class="modal animated zoomIn" tabindex="-1" aria-labelledby="modal-add-item" data-backdrop="static" aria-hidden="true">
        <div class="modal-dialog modal-lg modal-dialog-scrollable">
            <div class="modal-content">
                <div class="modal-header">
                    <h6 class="modal-title">NEW ITEM</h6>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close">
                        
                    </button>
                </div>
                <div class="modal-body">
                    <div class="row">
                        <div class="col-lg-12">
                            <div class="form-group">
                                <input asp-for="Item" class="form-select " id="ItemName" />
                            </div>
                            <h6 class="border-bottom mb-3 mr-2 ml-2">Information</h6>
                            <input class="form-select" type="hidden" name="returnUrl" value="@returnURl" />
                            <div class="row pt-2 pb-2 pl-4 pr-4">
                               <div class="col-lg-6">
                                    @*Supply Type*@
                                    <div class="form-group ">
                                        <label asp-for="SupplyType"></label> <span class="text-danger">*</span>
                                        <select asp-for="SupplyType" asp-items="@(new SelectList(Model.supplies, "Id" , "supplyName" ))" class="form-select" id="SupplyType">
                                            <option value="">Select Supply Type</option>
                                        </select>
                                        <span asp-validation-for="SupplyType" class="text-danger"></span>
                                    </div>
                                    @*Item Unit Type*@
                                    <div class="form-group">
                                        <label asp-for="Unit"></label> <span class="text-danger">*</span>
                                        <select asp-for="Unit" asp-items="@(new SelectList(Model.unit, "Id", "UnitName"))" class="form-select ">
                                            <option value="">Select Item Unit</option>
                                        </select>
                                        <span asp-validation-for="Unit" class="text-danger"></span>
                                    </div>
                               </div>
                                <div class="col-lg-6">
                                    @*Item Type*@
                                    <div class="form-group">
                                        <label asp-for="ItemType"></label> <span class="text-danger">*</span>
                                        <select asp-for="ItemType" class="form-select " id="ItemType">
                                            <option value="">Select Item Type</option>
                                        </select>
                                        <span asp-validation-for="ItemType" class="text-danger"></span>
                                    </div>
                                    @*Other Item Type*@
                                    <div class="form-group">
                                        <label asp-for="OtherItemType"></label>
                                        <input asp-for="OtherItemType" class="form-select " id="OtherItemType" disabled />
                                        <span asp-validation-for="OtherItemType" class="text-danger"></span>
                                    </div>
                                </div>
                           </div>
                            <div class="form-group row">
                                <div class="col-lg-12">
                                    <h6 class="border-bottom mb-4 mr-2 ml-2">Description</h6>
                                    <div class="col-lg-12  pt-2 pb-2 pl-4 pr-4">
                                        @foreach (var itemSpec in Model.itemSpecTypes)
                                        {

                                            <div class="row">
                                                <label class="col-lg-2">&nbsp;&nbsp;@itemSpec.itemSpecType </label>
                                                <div class="custom-control custom-radio col-lg-10 text-md-center mb-3">
                                                    <input type="checkbox" id="@itemSpec.Id" class="custom-control-input col-lg-2 checkboxValue" value="@itemSpec.itemSpecType" required>
                                                    <label class="custom-control-label col-lg-12 w-100" for="@itemSpec.Id">
                                                        <input class="form-select " id="Valueof_@itemSpec.itemSpecType" name="NewItemSpecs" value="" type="hidden" />
                                                        <input class="form-select " id="IDof_@itemSpec.itemSpecType" value="@itemSpec.Id" type="hidden" />
                                                        <input class="form-select  w-100" id="@itemSpec.itemSpecType" type="text" value="" disabled>
                                                    </label>
                                                </div>
                                            </div>
                                        }
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button class="btn btn-primary w-100" type="button" id="SaveItem">Save Item</button>
                    <div id="SubmitAddItemBtnContainer">

                    </div>
                </div>
            </div>
        </div>
    </div>
</form>