@using IIMSv1.Models.Shared
@using IIMSv1.Models
@model _ItemInputModel

@{
    var Path = Context.Request.Path;
    var QueryStrings = Context.Request.QueryString;
    var returnURl = Path + QueryStrings;
}
<form asp-action="_AddItem" asp-controller="Item" name="addItemForm">
    <div id="modal-add-item" class="modal zoomIn" tabindex="-1" aria-labelledby="modal-add-item" data-bs-backdrop="static" data-bs-keyboard="false">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <h6 class="modal-title">NEW ITEM</h6>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close">
                        
                    </button>
                </div>
                <div class="modal-body">
                    <div class="row">
                        <div class="col-lg-12">
                            <div class="form-group">
                                <input asp-for="Item" class="form-control" id="ItemName" />
                            </div>
                            <h5 class="border-bottom mb-3 mr-2 ml-2">Information</h5>
                            <input class="form-select" type="hidden" name="returnUrl" value="@returnURl" />
                            <div class="row pt-2 pb-2 pl-4 pr-4">
                               <div class="col-lg-12">
                                    @*Supply Type*@
                                    <div class="form-group">
                                        <label asp-for="SupplyType"></label> <span class="text-danger">*</span>
                                        <div class="hstack gap-2">
                                            <select asp-for="SupplyType" asp-items="@(new SelectList(Model.supplies, "Id" , "supplyName" ))" class="form-select" id="SupplyType">
                                                <option value="">Select Supply Type</option>
                                            </select>
                                            <button class="btn btn-label btn-primary waves-effect waves-light btnEditType" id="supplyTypeBtn" data-type="Supply Type" type="button" disabled>
                                                <i class="ri-lg ri-pencil-fill label-icon align-middle fs-16 me-2"></i> Edit
                                            </button>
                                            <button class="btn btn-label btn-secondary waves-effect waves-light btnAddSupplyType" type="button">
                                                <i class="ri-lg ri-add-line label-icon align-middle fs-16 me-2"></i> Add
                                            </button>
                                        </div>
                                        <span asp-validation-for="SupplyType" class="text-danger"></span>
                                    </div>
                               </div>
                                <div class="col-lg-12">
                                    @*Item Type*@
                                    <div class="form-group mt-3">
                                        <label asp-for="ItemType"></label> <span class="text-danger">*</span>
                                        <div class="hstack gap-2">
                                             <select asp-for="ItemType" class="form-select" id="ItemType">
                                                <option value="">Select Item Type</option>
                                            </select>
                                            <button class="btn btn-label btn-primary waves-effect waves-light btnEditType" id="ItemTypeBtn" data-type="Item Type" type="button" disabled>
                                                <i class="ri-lg ri-pencil-fill label-icon align-middle fs-16 me-2"></i> Edit
                                            </button>
                                            <button class="btn btn-label btn-secondary waves-effect waves-light btnAddItemType" type="button" disabled>
                                                <i class="ri-lg ri-add-line label-icon align-middle fs-16 me-2"></i> Add
                                            </button>
                                        </div>
                                        <span asp-validation-for="ItemType" class="text-danger"></span>
                                    </div>
                                </div>
                                <div class="col-lg-12">
                                    @*Item Unit Type*@
                                    <div class="form-group mt-3">
                                        <label asp-for="Unit"></label> <span class="text-danger">*</span>
                                        <div class="hstack gap-2">
                                            <select asp-for="Unit" id="unitSel" asp-items="@(new SelectList(Model.unit, "Id", "UnitName"))" class="form-select">
                                                <option value="">Select Item Unit</option>
                                            </select>
                                            <button class="btn btn-label btn-primary waves-effect waves-light btnEditType" id="UnitTypeBtn" data-type="Unit Type" type="button" disabled>
                                                <i class="ri-lg ri-pencil-fill label-icon align-middle fs-16 me-2"></i> Edit
                                            </button>
                                            <button class="btn btn-label btn-secondary waves-effect waves-light btnAddUnitType" type="button">
                                                <i class="ri-lg ri-add-line label-icon align-middle fs-16 me-2"></i> Add
                                            </button>
                                        </div>
                                        <span asp-validation-for="Unit" class="text-danger"></span>
                                    </div>
                                </div>
                            </div>
                            <div class="row mt-4">
                                <div class="col-lg-12">
                                    <div class="hstack border-bottom">
                                        <h5 class="mb-0">Description</h5>
                                        <button class="btn btn-label btn-secondary waves-effect btn-sm waves-light btnAddSpecsType ms-auto mb-2" type="button">
                                            <i class="ri-lg ri-add-line label-icon align-middle fs-16 me-2"></i> Add
                                        </button>
                                    </div>
                                </div>
                                <div class="col-lg-12 pt-2 pb-2 pl-4 pr-4">
                                    <div class="vstack gap-3" id="checkboxContainer">
                                        @foreach (var itemSpec in Model.itemSpecTypes)
                                        {
                                            <div class="form-group" id="@itemSpec.itemSpecType _ @itemSpec.Id">
                                                <div class="hstack gap-2">
                                                    <label id="label_@itemSpec.Id" for="@itemSpec.itemSpecType">@itemSpec.itemSpecType</label>
                                                    <a href="javascript:;" class="text-secondary pb-2 btnEditType" id="@itemSpec.Id" data-actName="@itemSpec.itemSpecType"  data-id="@itemSpec.Id" data-type="Description Type">
                                                        <i class="ri-lg ri-pencil-fill"></i> Edit
                                                    </a>
                                                </div>
                                                <div class="hstack gap-2">
                                                    <div class="input-group">
                                                        <div class="input-group-text">
                                                            <input type="checkbox" id="" class="form-check-input checkboxValue" value="@itemSpec.itemSpecType" required>
                                                        </div>
                                                        <input class="form-control" id="Valueof_@itemSpec.itemSpecType" name="NewItemSpecs" value="" type="hidden" />
                                                        <input class="form-control" id="IDof_@itemSpec.itemSpecType" value="@itemSpec.Id" type="hidden" />
                                                        <input class="form-control" id="@itemSpec.itemSpecType" type="text" disabled autocomplete="off">
                                                    </div>
                                                </div>
                                            </div>
                                        }
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <div class="vstack gap-1">
                        <button class="btn btn-secondary waves-effect waves-light w-100" type="button" id="SaveItem">Save Item</button>
                        <button class="btn btn-light waves-effect waves-light w-100" data-bs-toggle="modal" type="reset">
                            Cancel
                        </button>
                    </div>
                    <div id="SubmitAddItemBtnContainer">
                    </div>
                </div>
            </div>
        </div>
    </div>
</form>