@using IIMSv1.Models.Shared
@using IIMSv1.Models
@model EditItemInputModel

@{
    var Path = Context.Request.Path;
    var QueryStrings = Context.Request.QueryString;
    var returnURl = Path + QueryStrings;
}
<form asp-action="_UpdateItem" asp-controller="Item" id="updateItemForm">
    <div id="modal-edit-item" class="modal zoomIn" tabindex="-1" data-bs-backdrop="static" data-bs-keyboard="false">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">ITEM</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close">
                        
                    </button>
                </div>
                <div class="modal-body">
                    <div class="row">
                        <div class="col-lg-12">
                            <h5 class="border-bottom mb-3 mr-2 ml-2">Information</h5>
                            <div class="form-group">
                                <input class="form-select" type="hidden" name="returnUrl" value="@returnURl" />
                                <input class="dataInput" type="hidden"/>                                
                                @*ItemId*@
                                <input asp-for="ItemId" id="ItemIdEdit" />
                            </div>
                           <div class="row">
                               <div class="col-lg-12">
                                    @*Supply Type*@
                                    <div class="form-group">
                                        <label asp-for="Supply"></label> <span class="text-danger">*</span>
                                        <div class="hstack gap-2">
                                            <select asp-for="Supply" id="SupplyTypeEdit" class="form-select" asp-items="@(new SelectList(Model.supplies, "Id" , "supplyName" ))">
                                                <option value="">Select Supply Type</option>
                                            </select>
                                            <button class="btn btn-label btn-primary waves-effect waves-light btnEditTypeEdit" id="supplyTypeBtnEdit" data-type="Supply Type" type="button" disabled>
                                                <i class="ri-lg ri-pencil-fill label-icon align-middle fs-16 me-2"></i> Edit
                                            </button>
                                            <button class="btn btn-label btn-secondary waves-effect waves-light btnAddSupplyTypeEdit" type="button">
                                                <i class="ri-lg ri-add-line label-icon align-middle fs-16 me-2"></i> Add
                                            </button>
                                        </div>
                                        <span asp-validation-for="Supply" class="text-danger"></span>
                                    </div>
                               </div>
                               <div class="col-lg-12">
                                    @*Item Type*@
                                    <div class="form-group mt-3">
                                        @* Item *@
                                        <input asp-for="Item" class="form-select" id="ItemNameEdit" />
                                        <label asp-for="ItemType"></label> <span class="text-danger">*</span>
                                        <div class="hstack gap-2">
                                            <input asp-for="ItemType" id="ItemTypeEdit" class="form-control"  disabled/>
                                            <button class="btn btn-label btn-primary waves-effect waves-light btnEditTypeEdit" id="ItemTypeBtnEdit" data-type="Item Type" type="button" disabled>
                                                <i class="ri-lg ri-pencil-fill label-icon align-middle fs-16 me-2"></i> Edit
                                            </button>
                                            <button class="btn btn-label btn-secondary waves-effect waves-light btnAddItemTypeEdit" type="button" disabled>
                                                <i class="ri-lg ri-add-line label-icon align-middle fs-16 me-2"></i> Add
                                            </button>
                                        </div>
                                        <span asp-validation-for="ItemType" class="text-danger"></span>
                                    </div>
                               </div>
                                <div class="col-lg-12">
                                    <div class="form-group  mt-3">
                                        <label asp-for="Unit"></label> <span class="text-danger">*</span>
                                        <div class="hstack gap-2">
                                            <select asp-for="Unit" id="unitSelEdit" class="form-select" asp-items="@(new SelectList(Model.unit, "Id", "UnitName"))">
                                                <option value="">Select Item Unit</option>
                                            </select>
                                            <button class="btn btn-label btn-primary waves-effect waves-light btnEditTypeEdit" id="UnitTypeBtnEdit" data-type="Unit Type" type="button" disabled>
                                                <i class="ri-lg ri-pencil-fill label-icon align-middle fs-16 me-2"></i> Edit
                                            </button>
                                            <button class="btn btn-label btn-secondary waves-effect waves-light btnAddUnitTypeEdit" type="button">
                                                <i class="ri-lg ri-add-line label-icon align-middle fs-16 me-2"></i> Add
                                            </button>
                                        </div>
                                        <span asp-validation-for="Unit" class="text-danger"></span>
                                    </div>
                                </div>
                           </div>
                            <div class="row mt-4">
                                <div class="col-lg-12">
                                    <div class="hstack border-bottom">
                                        <h5 class="mb-0">Specification</h5>
                                        <button class="btn btn-label btn-secondary waves-effect btn-sm waves-light btnAddSpecsTypeEdit ms-auto mb-2" type="button">
                                            <i class="ri-lg ri-add-line label-icon align-middle fs-16 me-2"></i> Add
                                        </button>
                                    </div>
                                </div>
                                <div class="col-lg-12 pt-2 pb-2 pl-4 pr-4">
                                    <div class="vstack gap-3" id="checkboxContainerEdit">
                                        @foreach (var itemSpec in Model.itemSpecTypes)
                                        {
                                            <div class="form-group" id="Rowfor_@itemSpec.itemSpecType _ @itemSpec.Id">
                                                <div class="hstack gap-2">
                                                    <label id="Editlabel_@itemSpec.Id" for="@itemSpec.itemSpecType">@itemSpec.itemSpecType</label>
                                                    <a href="javascript:;" class="text-secondary pb-2 btnEditTypeEdit" id="EditBtn_@itemSpec.Id" data-actName="@itemSpec.itemSpecType" data-id="@itemSpec.Id" data-type="Specification Type">
                                                        <i class="ri-lg ri-pencil-fill"></i> Edit
                                                    </a>
                                                </div>
                                                <div class="hstack gap-2">
                                                    <div class="input-group">
                                                        <div class="input-group-text">
                                                            <input type="checkbox" id="Edit_@itemSpec.Id" class="form-check-input checkboxValueEdit" value="@itemSpec.itemSpecType" required>
                                                        </div>
                                                        <input class="form-control" id="EditValueof_@itemSpec.itemSpecType" asp-for="NewItemSpecs" value="" type="hidden" />
                                                        <input class="form-control" id="EditIDof_@itemSpec.itemSpecType" value="@itemSpec.Id" type="hidden" />
                                                        <input class="form-control inputEditSpecs" id="EditInput_@itemSpec.itemSpecType" type="text" data-value="@itemSpec.itemSpecType" disabled autocomplete="off">
                                                    </div>
                                                </div>
                                            </div>
                                        }
                                    </div>
                                </div>
                            </div>
                            <div class="row mt-2">
                                <div class="col-lg-12" id="alertContainer">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <div class="vstack gap-1">
                        <button class="btn btn-secondary waves-effect waves-light" type="button" id="updateItem">Update Item</button>
                        <button class="btn btn-light waves-effect waves-light w-100" data-bs-toggle="modal" type="reset">
                            Cancel
                        </button>
                    </div>
                    <div id="SubmitUpdateItemBtnContainer">
                    </div>
                </div>
            </div>
        </div>
    </div>
</form>
